<details>
	<summary id="create-profile-automatically">Ich hatte "Profil erstellen" vorhin deaktiviert und jetzt habe ich keine <code>fabric-loader-...</code> Installation mehr.</summary>
	<p>
		Führe einfach den Fabric-Installer erneut aus, so wie du es in <a href="#fabric-loader">Schritt 1</a> getan hast.
		Wähle die gleiche Version aus wie zuvor, aber stelle diesmal sicher, dass "Create profile" aktiviert ist, und klicke dann auf "Install".
		Der Installer wird sich nicht darüber beschweren, dass du das schon getan hast.
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/how-to-install/use_fabric_installer.webp" alt="Anweisungen zur Verwendung des Fabric-Installers">
	</p>
</details>
