<details>
	<summary id="create-profile-manually">Ich möchte die <code>fabric-loader-...</code> Installation lieber selbst erstellen. Zeig mir, wie es geht!</summary>
	<p>
		Klicke zunächst auf die Schaltfläche "Neue Installation".
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/how-to-install/new_profile.webp" alt='wo man die Schaltfläche "Neue Installation" im Minecraft Launcher findet'>
	</p>
	<p>
		Ändere dann <code>VERSION</code> zu <code>release fabric-loader-...</code>. Du kannst auch den Namen und das Symbol der Installation anpassen, wenn du möchtest. Wenn du fertig bist, klicke auf "Erstellen", um deine Installation zu speichern.
	</p>
	<p>
		<b>WARNUNG:</b> Lass die Option <code>SPIELVERZEICHNIS</code> unverändert, es sei denn, du weißt, was du tust!
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/how-to-install/manual_profile_settings.webp" alt="wie man eine Fabric-Loader-Installation manuell im Minecraft Launcher erstellt">
	</p>
	<div style="padding-left: 0.625rem;border-left: 1px #ccc solid;">
		<h4>Meta-Problembehandlung (weil manuelle Installationen kompliziert werden können)</h4>
		<details>
			<summary id="create-profile-choose-loader-release">Ich sehe mehrere <code>release fabric-loader-...</code> Optionen und weiß nicht, welche ich wählen soll.</summary>
			<p>
				Okay, lass mich dir erklären, wie diese Versionen funktionieren. Wenn du genau hinsiehst, wirst du sehen, dass es zwei Versionen nach dem <code>fabric-loader-</code> Teil gibt, die durch einen Bindestrich voneinander getrennt sind. Die erste Version ist die vom Fabric Loader selbst, die zweite ist die Minecraft-Version, für die diese Fabric-Installation bestimmt ist.
			</p>
			<p>
				Die Minecraft-Version ist der Teil, der zählt. Wenn die falsch ist, wird deine Installation nicht starten können.
			</p>
			<p>
				<img src="https://images.wurstclient.net/_media/how-to-install/loader_version.webp" alt="wie man eine Fabric Loader-Version liest">
			</p>
			<p>
				Wähle nun mit diesem Wissen eine <code>release fabric-loader-...</code> Option für die Minecraft-Version, die du verwenden möchtest. (Im obigen Beispiel verwende ich Minecraft 1.18.2.)
			</p>
		</details>
		<details>
			<summary id="create-profile-loader-release-missing">Ich sehe keine <code>release fabric-loader-...</code> Option für meine Minecraft-Version.</summary>
			<p>
				Versuche, deinen Minecraft Launcher neu zu starten.
				Wenn das nicht hilft, hast du vergessen Fabric (Loader) zu installieren und solltest zu <a href="#fabric-loader">Schritt 1</a> zurückkehren.
			</p>
		</details>
	</div>
</details>
