<details>
	<summary id="fabric-installer-nothing-happens">Wenn ich versuche den Fabric-Installer zu starten, passiert nichts.</summary>
	<p>
		Das kann passieren wenn du kein Java installiert hast. Hier ist ein <a href="https://www.youtube.com/watch?v=Wv0vPUwitJs" target="_blank" rel="nofollow">Video das erklärt wie man Java installiert</a> (auf Englisch).
	</p>
	<p>
		(Der Author von diesem Video kann dir bei Wurst-Problemen nicht helfen. Wenn du Hilfe brauchst, <a href="/contact">frag mich</a>.)
	</p>
</details>
