<details>
	<summary id="fabric-installer-opens-winrar">Wenn ich versuche den Fabric-Installer zu starten, öffnet sich stattdessen WinRAR / 7-Zip / etc.</summary>
	<p>
		Das passiert wenn dein Computer darauf eingestellt ist, .jar-Dateien mit einem anderen Programm als Java zu öffnen.
		In Windows gibt es eine Einstellung namens "Standard-Apps nach Dateityp auswählen", mit der du das ändern kannst.
	</p>
	<p>
		Alternativ kannst du Rechtsklick > "Öffnen mit" benutzen um die Datei mit Java zu öffnen, etwa so:
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/how-to-install/fabric_run_with_java.webp" alt="how to run the Fabric installer with Java">
		<ul>
			<li>Wenn du Java in der Liste nicht finden kannst, klicke unten auf "Anderes Programm auswählen".</li>
			<li>Je nachdem was du installiert hast, siehst du hier entweder "Java(TM)&nbsp;Platform&nbsp;SE&nbsp;binary" oder "OpenJDK&nbsp;Platform&nbsp;binary" (oder beides). Es ist egal, welche Java-Version du hier auswählst.</li>
			<li>Wenn du Java gar nicht finden kannst, ist es wahrscheinlich nicht installiert. In diesem Fall musst du erstmal <a href="https://www.youtube.com/watch?v=Wv0vPUwitJs" target="_blank" rel="nofollow">Java installieren</a> (englischsprachiges Video-Tutorial).<br>
			(Der Author von diesem Video kann dir bei Wurst-Problemen nicht helfen. Wenn du Hilfe brauchst, <a href="/contact">frag mich</a>.)</li>
		</ul>
	</p>
</details>
