<details>
	<summary id="fabric-api-doesnt-have-java-icon">Meine Fabric API-Datei hat kein Java-Icon. Stattdessen ist da so ein WinRAR-Logo drauf.</summary>
	<p>
		Überprüfe die Dateiendung. Wenn die Datei in <code>.jar</code> endet, ist alles gut.
		Das bedeutet einfach, dass dein Computer darauf eingestellt ist, .jar-Dateien mit WinRAR statt Java zu öffnen.
	</p>
	<p>
		Das spielt für die Fabric API keine Rolle, da es immer noch eine .jar-Datei ist und weiterhin funktionieren wird,
		aber wenn dich das "falsche" Icon stört gibt es in Windows eine Einstellung namens "Standard-Apps nach Dateityp auswählen", mit der du das ändern kannst.
	</p>
</details>
