<details>
	<summary id="fabric-api-cant-find-minecraft-folder">Wo finde ich meinen <code>.minecraft</code>-Ordner?</summary>
	<p>
		<b>Windows:</b> Öffne den Windows Explorer und gib dann <code>%appdata%/.minecraft</code> oben in die Adressleiste ein.<br>
		(Alternativ kannst du auch Win+R drücken das da eingeben.)
	</p>
	<p>
		<b>Linux:</b> Öffne den File Explorer und gib dann <code>~/.minecraft</code> in die Adressleiste ein.
	</p>
	<p>
		<b>Mac:</b> Öffne den Finder und gib dann <code>~/Library/Application Support/minecraft</code> in die Adressleiste ein.
	</p>
</details>
