<details>
	<summary id="launch-cant-see-loader-installation">Ich kann die <code>fabric-loader-...</code> Installation nicht sehen.</summary>
	<p>
		Stelle zunächst sicher, dass der Haken bei "Modifiziert" gesetzt ist. Modifizierte Installationen wie Fabric sind ohne diese Einstellung unsichtbar.
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/how-to-install/modded_checkbox.webp" alt='wo man das "Modifiziert"-Kästchen im Minecraft Launcher findet'>
	</p>
	<p>
		Wenn du den Minecraft Launcher bereits geöffnet hattest, während du Fabric (Loader) installiert hast, kann es sein, dass du den Minecraft Launcher einmal neu starten musst, damit er die neue Installation "erkennt".
	</p>
	<p>
		Wenn das alles nichts hilft, ist die Installation wahrscheinlich wirklich einfach nicht da. Du kannst entweder <a href="#create-profile-automatically">den Fabric Installer erneut ausführen</a> oder <a href="#create-profile-manually">die Installation manuell erstellen</a>.
	</p>
</details>
