<details>
	<summary id="launch-player-safety-warning">Der Minecraft Launcher warnt mich wegen "Sicherheitsfunktionen für Spieler".</summary>
	<p>
		Das ist leider normal. Microsoft hat beschlossen, zu versuchen, die Leute vom Modding abzuschrecken, indem sie allen modifizierten Installationen diese "Spieler-Sicherheits"-Warnungen verpassen.
	</p>
	<p>
		<a href="https://twitter.com/Wurst_Imperium/status/1353927165012811776" target="_blank">Diese Warnungen sind völliger Unsinn und haben nichts mit echter Sicherheit zu tun!</a>
	</p>
	<p>
		Du kannst diese Warnungen bedenkenlos wegklicken.
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/how-to-install/safety_nonsense.webp" alt="wie man die unglaublich dumme 'Sicherheit für Spieler'-Warnung des Minecraft Launchers deaktiviert">
	</p>
	<p>
		Oder wechsle zu einem <a href="https://multimc.org/" target="_blank">besseren Launcher</a>, der deine Freiheit respektiert und nicht über die Sicherheit lügt.
	</p>
</details>
