<details>
	<summary id="launch-just-crashes">Ich sehe eine Fehlermeldung, die besagt: <code>Ein unerwartetes Problem ist aufgetreten und das Spiel ist abgestürzt</code>.</summary>
	<p>
		Wie bei "Incompatible mod set!" bedeutet diese Fehlermeldung normalerweise, dass du das Tutorial nicht richtig befolgt hast.
		Leider ist der offizielle Minecraft Launcher ziehmlich schlecht darin, nützliche Fehlermeldungen bereitzustellen, daher kann der übliche "Exit Code: 1" fast alles bedeuten.
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/how-to-install/error_generic_crash.webp" alt="die nutzlose Fehlermeldung des Minecraft Launchers">
	</p>
	<p>
		Eine häufige Ursache für diesen Fehler ist, dass du eine Version von Wurst installiert hast, die nicht mit deiner Minecraft-Version kompatibel ist.
	</p>
	<p>
		Überprüfe, welche Wurst-Version sich in deinem Mods-Ordner befindet (der "MC"-Teil zeigt an, für welche Minecraft-Version sie vorgesehen ist), und <a href="#wurst">gehe zurück zu Schritt 3</a>, wenn es die falsche Version ist.
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/how-to-install/error_wrong_wurst_version.webp" alt="ein Beispiel dafür, wie die falsche Wurst-Version (hier MC1.16.5) in einer Minecraft 1.18.2-Installation eingesetzt sein kann">
	</p>
	<p>
		Eine andere mögliche Ursache ist, dass du im Fabric-Installer eine sehr alte Version des Fabric Loaders ausgewählt hast.
	</p>
	<p>
		Es gibt eigentlich keinen guten Grund, eine andere Version vom Fabric Loader als die neueste zu verwenden (die standardmäßig ausgewählt ist). Du solltest daher <a href="#fabric-loader">zurück zu Schritt 1</a> gehen und diesmal die "Loader Version" auf dem Standardwert belassen.
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/how-to-install/error_very_old_fabric_loader.webp" alt="ein Beispiel für eine sehr alte Fabric Loader-Version, die eine Minecraft 1.18.2-Installation zum Absturz bringt">
	</p>
	<p>
		Wenn alle deine Mod-Versionen und der Fabric Loader korrekt sind, aber das Spiel weiterhin abstürzt, kann es sein, dass du einen Bug gefunden hast.
		Leider scheint es so, als ob der offizielle Minecraft Launcher es dir nicht mehr ermöglicht, auf die Absturzberichte zuzugreifen.
	</p>
	<p>
		Versuche, eine Kopie der Stack-Trace zu erhalten (vielleicht in den Log-Dateien?) oder prüfe, ob der gleiche Absturz auch bei einem Launcher auftritt, der die Crash Reports nicht vor dir versteckt.
	</p>
</details>
