<details>
	<summary id="open-gui">Okay, toll, aber wie öffne ich jetzt die GUI von Wurst?</summary>
	<p>
		Wurst hat tatsächlich drei verschiedene GUIs, aus denen du wählen kannst:
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/gui_keybinds.webp" alt="Visualisierung von Wurst's GUI-Tastenkombinationen" title="Danke an keyboard-layout-editor.com für dieses Bild!">
	</p>
	<ul>
		<li>
			<p>Die GUI mit den kleinen Fenstern wird <a href="https://wurst.wiki/clickgui">ClickGUI</a> genannt und öffnet sich standardmäßig mit der rechten STRG-Taste.</p>
		</li>
		<li>
			<p>Die GUI mit der Suchleiste oben heißt <a href="https://wurst.wiki/navigator">Navigator</a> und öffnet sich standardmäßig mit der rechten Umschalttaste.</p>
		</li>
		<li>
			<p>Es gibt auch eine TabGUI, die ich Anfängern aber nicht empfehlen würde und die standardmäßig auch keine Tastenkombination hat. Mehr dazu kannst du <a href="https://wurst.wiki/tabgui">hier</a> lesen.</p>
		</li>
	</ul>
	<p>
		Bedenke, dass du Wurst's GUI nicht direkt vom Titelbildschirm aus öffnen kannst. Es funktioniert nur, wenn du auf einem Server oder in einer Singleplayer-Welt spielst.
		Wenn es dort immer noch nicht funktioniert, überprüfe, ob Wurst tatsächlich läuft oder ob du stattdessen <a href="#still-launches-vanilla">normales Minecraft</a> gestartet hast.
	</p>
	<p>
		Vielleicht interessiert dich auch diese Liste von <a href="https://wurst.wiki/keybinds#default_keybinds" target="_blank" >allen Standard-Tastenbelegungen</a> und <a href="https://wurst.wiki/keybind_manager" target="blank">wie du deine Tastenbelegungen anpassen kannst</a>.
	</p>
</details>
