---
title: Frequently Asked Questions
permalink: /faq/
---
{% include title.html l1 = page.title %}
{% assign faq = site.questions | group_by: "category" %}
{% for category in faq %}
  {% assign modulo = forloop.index0 | modulo: 2 %}
	<div class="padding20 no-padding-left no-padding-right{% if modulo == 1 %} bg-grayLighter{% endif %}">
		<div class="container">
	    <h2>{{ category.name }}</h2>
	    <ul>
	      {% for question in category.items %}
	        <li><p><a href="{{ question.url }}">{{ question.title }}</a></p></li>
	      {% endfor %}
	    </ul>
		</div>
	</div>
{% endfor %}
