---
title: Feature List
---
{% include title.html l1 = page.title %}
<div class="padding20 no-padding-left no-padding-right bg-grayLighter">
  <div class="container">
    <p class="text-accent">
      This is currently the closest thing we have to a complete list of Wurst's features. Click on any of the features below to learn more about it.
    </p>
    <div class="align-center margin20 no-margin-left no-margin-right">
      <div class="inline-block shadow ribbed-lightBlue padding5 ">
        <p class="bg-white padding10 no-margin">
          <strong>Tip:</strong> Press <kbd>Ctrl</kbd> + <kbd>F</kbd> to search for a feature.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="padding20 no-padding-left no-padding-right">
  <div class="container">
    <h2>Mods</h2>
    <ul class="inline-list">
      {% assign mods = site.wiki | where: "category", "Mod" %}
      {% for mod in mods %}
        <li><a href="{{ mod.url }}">{{ mod.title }}</a></li>
      {% endfor %}
    </ul>
    <h2>Commands</h2>
    <ul class="inline-list">
      {% assign cmds = site.wiki | where: "category", "Command" %}
      {% for cmd in cmds %}
        <li><a href="{{ cmd.url }}">{{ cmd.title }}</a></li>
      {% endfor %}
    </ul>
    <h2>Special Features</h2>
    <ul class="inline-list">
      {% assign spfs = site.wiki | where: "category", "Special Feature"%}
      {% for spf in spfs %}
        <li><a href="{{ spf.url }}">{{ spf.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
