---
title: Feature List
---
<div class="container">
  <h1>Feature List</h1>
  <p>
    This is a complete list of all features currently in the Wurst Client. Click on any of the features to learn more about it.
  </p>
  <div class="shadow ribbed-lightBlue padding5 margin20 no-margin-left no-margin-right">
    <p class="bg-white padding10 no-margin">
      <strong>Tip:</strong>
      Press <kbd>Ctrl+F</kbd> to search for a feature.
    </p>
  </div>
  <h2>Mods</h2>
  <ul>
    {% assign mods = site.wiki | where: "category", "Mod" %}
    {% for mod in mods %}
      <li><a href="{{ mod.url }}">{{ mod.title }}</a></li>
    {% endfor %}
  </ul>
  <h2>Commands</h2>
  <ul>
    {% assign cmds = site.wiki | where: "category", "Command" %}
    {% for cmd in cmds %}
      <li><a href="{{ cmd.url }}">{{ cmd.title }}</a></li>
    {% endfor %}
  </ul>
  <h2>Special Features</h2>
  <ul>
    {% assign spfs = site.wiki | where: "category", "Special Feature"%}
    {% for spf in spfs %}
      <li><a href="{{ spf.url }}">{{ spf.title }}</a></li>
    {% endfor %}
  </ul>
</div>
