---
title: Minecraft Wurst Hacked Client
---
<div class="padding100 no-padding-left no-padding-right" style="background-repeat: no-repeat;background-size: cover;background-position: center top;background-attachment: fixed;background-image: url('https://cloud.githubusercontent.com/assets/10100202/23873355/10327052-0832-11e7-9bf7-7d5a8dfba013.png');">
	<div class="container align-center">
		<h1>
			<img src="https://cloud.githubusercontent.com/assets/10100202/23872350/47e8462e-082e-11e7-8ac2-07a66e4beaaa.png" alt="{{ page.title }}">
		</h1>
		<p>
			<a class="command-button primary shadow" href="/download/" style="padding-top: 1rem;padding-bottom: 1rem;">
				<span class="icon mif-download2"></span>
				Download Wurst
			</a>
			<br class="no-pc">
			<span class="header margin20 fg-white text-shadow">or</span>
			<br class="no-pc">
			<a class="command-button shadow bg-green bg-hover-emerald bd-green fg-white" href="https://forge.wurstclient.net" style="padding-top: 1rem;padding-bottom: 1rem;overflow: hidden;">
				<span class="icon mif-wrench"></span>
				Try ForgeWurst
				<span class="bg-red no-padding-bottom no-padding-top padding20 rotate45 text-small" style="position: absolute;top: 0.5rem;right: -1.35rem;letter-spacing: 1px;">BETA</span>
			</a>
		</p>
	</div>
</div>
<div class="padding40 no-padding-left no-padding-right bg-grayLighter">
	<div class="container align-center">
		{% assign features = site.data.features %}
		<h2>Features ({{ features.cheats.size | plus: features.commands.size | plus: features.other.size }})</h2>
	</div>
</div>
<div class="padding20 no-padding-left no-padding-right">
	<div class="container">
		<div class="grid">
			<div class="row">
				<h3>Cheats ({{ features.cheats.size }})</h3>
			</div>
			<div class="row cells5">
				{% assign colsize = features.cheats.size | divided_by: 5.0 | ceil %}
				{% for i in (0..4) %}
					<div class="cell">
						<ul>
							{% for i2 in (1..colsize) %}
								{% assign i3 = i | times: colsize | plus: i2 | minus: 1 %}
								{% if i3 >= features.cheats.size %}
									{% break %}
								{% endif %}
								<li>{{ features.cheats[i3] }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<div class="padding20 no-padding-left no-padding-right bg-grayLighter">
	<div class="container">
		<div class="grid">
			<div class="row">
				<h3>Commands ({{ features.commands.size }})</h3>
			</div>
			<div class="row cells5">
				{% assign colsize = features.commands.size | divided_by: 5.0 | ceil %}
				{% for i in (0..4) %}
					<div class="cell">
						<ul>
							{% for i2 in (1..colsize) %}
								{% assign i3 = i | times: colsize | plus: i2 | minus: 1 %}
								{% if i3 >= features.commands.size %}
									{% break %}
								{% endif %}
								<li>{{ features.commands[i3] }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<div class="padding20 no-padding-left no-padding-right">
	<div class="container">
		<div class="grid">
			<div class="row">
				<h3>Other Features ({{ features.other.size }})</h3>
			</div>
			<div class="row cells5">
				{% assign colsize = features.other.size | divided_by: 5.0 | ceil %}
				{% for i in (0..4) %}
					<div class="cell">
						<ul>
							{% for i2 in (1..colsize) %}
								{% assign i3 = i | times: colsize | plus: i2 | minus: 1 %}
								{% if i3 >= features.other.size %}
									{% break %}
								{% endif %}
								<li>{{ features.other[i3] }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<div class="padding20 no-padding-left no-padding-right bg-grayLighter">
	<div class="container">
		<div class="grid">
			<div class="row">
				<h2 class="align-center">Default Keybinds (14)</h2>
			</div>
			<div class="row cells3">
				<div class="cell">
					<ul>
						<li>B -> FastPlace;FastBreak</li>
						<li>C -> Fullbright</li>
						<li>G -> Flight</li>
						<li>GRAVE -> SpeedNuker</li>
						<li>H -> /home</li>
					</ul>
				</div>
				<div class="cell">
					<ul>
						<li>J -> Jesus</li>
						<li>K -> MultiAura</li>
						<li>LCONTROL -> Navigator</li>
						<li>N -> Nuker</li>
						<li>R -> Killaura</li>
					</ul>
				</div>
				<div class="cell">
					<ul>
						<li>RSHIFT -> Navigator</li>
						<li>U -> Freecam</li>
						<li>X -> X-Ray</li>
						<li>Z -> Sneak</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="padding20 no-padding-left no-padding-right">
	<div class="container">
		<div class="grid">
			<div class="row">
				<h2 class="align-center">Compatibility</h2>
			</div>
			<div class="row">
				<table class="table border bordered">
					<thead>
						<tr>
							<th>Wurst Edition</th>
							<th>Minecraft Versions</th>
							<th>OptiFine Support</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Wurst MC 1.12</td>
							<td>1.12 - 1.12.2</td>
							<td class="align-center"></td>
						</tr>
						<tr>
							<td>Wurst MC 1.12 OF</td>
							<td>1.12 - 1.12.2</td>
							<td class="align-center"><span class="mif-checkmark fg-green"></span></td>
						</tr>
						<tr>
							<td>Wurst MC 1.11</td>
							<td>1.11 - 1.11.2</td>
							<td class="align-center"></td>
						</tr>
						<tr>
							<td>Wurst MC 1.11 OF</td>
							<td>1.11 - 1.11.2</td>
							<td class="align-center"><span class="mif-checkmark fg-green"></span></td>
						</tr>
						<tr>
							<td>Wurst MC 1.10</td>
							<td>1.10 - 1.10.2</td>
							<td class="align-center"></td>
						</tr>
						<tr>
							<td>Wurst MC 1.9</td>
							<td>1.9 - 1.9.2</td>
							<td class="align-center"></td>
						</tr>
						<tr>
							<td>Wurst MC 1.8</td>
							<td>1.8 - 1.8.9</td>
							<td class="align-center"></td>
						</tr>
						<tr>
							<td>Wurst MC 1.8 OF</td>
							<td>1.8 - 1.8.9</td>
							<td class="align-center"><span class="mif-checkmark fg-green"></span></td>
						</tr>
						<tr>
							<td>Wurst MC 1.7 <span class="tag fg-white bg-amber" style="cursor: help;vertical-align: baseline;" title="We are no longer maintaining this version. You can still use it, but any bugs or missing features will not be fixed.">OLD</span></td>
							<td>1.7.2 - 1.7.10</td>
							<td class="align-center"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="padding20 no-padding-left no-padding-right bg-grayLighter">
	<div class="container align-center">
		<div class="grid">
			<div class="row">
				<h2>Review by WiZARDHAX.com</h2>
			</div>
			<div class="row">
				<div class="video-container no-padding-top">
					<iframe src="https://www.youtube.com/embed/cq56iaANxH4?rel=0" frameborder="0" allowfullscreen=""></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="padding40 no-padding-left no-padding-right">
	<div class="container align-center">
		<h2>Live Downloads Counter</h2>
		<p>
			<a href="/download/">
				<img src="https://drive.google.com/uc?id=0B2YeSS9tm5zLMF9NWjNZYnNqSTA" alt="Wurst downloads counter" style="height: 50px;">
			</a>
		</p>
	</div>
</div>
