---
title: Wurst Client - A Minecraft Hacked Client by Alexander01998
exacttitle: true
description: The Wurst Client is a Hacked Client for Minecraft 1.8.X and 1.7.X. It contains over 130 of the best Minecraft hacks out there (95+ mods and 35+ commands).
---
<div class="container">
	<div class="grid">
		<div class="row cells4">
			<div class="cell colspan3">
				{% for post in paginator.posts %}
					<article>
						{% include post-header.html %}
						<div class="post-content">
							{% if post.video-id %}
								<div class="image-container padding10 shadow">
									<div class="frame">
										<a href="{{ post.url }}">
											<img src="https://i.ytimg.com/vi/{{ post.video-id }}/maxresdefault.jpg">
										</a>
									</div>
								</div>
							{% elsif post.images.size > 0 %}
								{% for image in post.images limit: 1 %}
									<div class="image-container bordered">
										<div class="frame">
											<a href="{{ post.url }}">
												<img src="{{ image.link }}">
											</a>
										</div>
									</div>
								{% endfor %}
							{% endif %}
							{{ post.excerpt | replace: ":new", "<img class='emoji' src='https://assets.github.com/images/icons/emoji/new.png' height='20' width='20' align='absmiddle'>:" | replace: ":star", "<img class='emoji' src='https://assets.github.com/images/icons/emoji/star.png' height='20' width='20' align='absmiddle'>:" | replace: ":bug", "<img class='emoji' src='https://assets.github.com/images/icons/emoji/bug.png' height='20' width='20' align='absmiddle'>:" | replace: ":rocket", "<img class='emoji' src='https://assets.github.com/images/icons/emoji/rocket.png' height='20' width='20' align='absmiddle'>:" | replace: ":gem", "<img class='emoji' src='https://assets.github.com/images/icons/emoji/gem.png' height='20' width='20' align='absmiddle'>:" | replace: "::", "" }}
						</div>
						<footer>
					    <a href="{{ post.url }}" class="button primary">
					      Read More
					    </a>
						</footer>
					</article>
					<br>
					<hr>
				{% endfor %}
				<nav>
					{% if paginator.previous_page %}
						<a class="button place-left" href="{{ paginator.previous_page_path }}">
							<span class="mif-chevron-thin-left"></span>
							Newer News
						</a>
					{% endif %}
					{% if paginator.next_page %}
						<a class="button place-right" href="{{ paginator.next_page_path }}">
							Older News
							<span class="mif-chevron-thin-right"></span>
						</a>
					{% endif %}
				</nav>
			</div>
			<div class="cell">
				{% include sidebar.html %}
			</div>
		</div>
	</div>
</div>
