---
title: AutoBuild templates
layout: download
---
<div class="container">
  <h1 class="page-header">
    <span class="mega-octicon octicon-home" style="font-size: inherit;"></span>
    {{ page.title }}
  </h1>
  {% for category in site.data.autobuild %}
  <h2 class="page-header">
    {{ category | first }}
  </h2>
  <div class="row">
    {% for template in category[1] %}
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{{ template.image }}">
        <div class="caption">
          <table class="table table-bordered table-condensed table-hover">
            {% for data in template | offset: 2 %}
              <tr>
                <th>{{ data[0] | capitalize }}:</th>
                <td>{{ data[1] }}</td>
              </tr>
            {% endfor %}
          </table>
          <div class="btn-group-vertical">
            <a class="btn btn-default" href="https://github.com/Wurst-Imperium/filedrop/releases/download/wurst-client.tk/autobuild-{{ template.id }}.zip">
              <span class="octicon octicon-cloud-download"></span>
              Download
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
