<details>
	<summary id="create-profile-manually">I want to create the <code>fabric-loader-...</code> installation myself. Show me how to do it!</summary>
	<p>
		First press the "New installation" button.
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/how-to-install/new_profile.webp" alt='where to find the "new installation" button in the Minecraft launcher'>
	</p>
	<p>
		Then change <code>VERSION</code> to <code>release fabric-loader-...</code>. You can also customize the installation's name and icon if you like. When done, press "Create" to save your installation.
	</p>
	<p>
		<b>WARNING:</b> Don't touch the <code>GAME DIRECTORY</code> option unless you know what you're doing!
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/how-to-install/manual_profile_settings.webp" alt="how to manually create a Fabric Loader installation in the Minecraft launcher">
	</p>
	<div style="padding-left: 0.625rem;border-left: 1px #ccc solid;">
		<h4>Meta-Troubleshooting (because manual installations can get complicated)</h4>
		<details>
			<summary id="create-profile-choose-loader-release">I see multiple <code>release fabric-loader-...</code> options and I don't know which one to choose.</summary>
			<p>
				Okay, let me explain to you how these versions work. If you look closely, you will see that there are two versions after the <code>fabric-loader-</code> part, separated by a dash. The first one is the Fabric Loader version itself, the second one is the Minecraft version that it's for.
			</p>
			<p>
				The Minecraft version is the part that matters. If this is wrong, your installation won't launch.
			</p>
			<p>
				<img src="https://images.wurstclient.net/_media/how-to-install/loader_version.webp" alt="how to read a Fabric Loader version">
			</p>
			<p>
				Now with that knowledge, choose any <code>release fabric-loader-...</code> option for the Minecraft version you plan to use. (I'm using Minecraft 1.18.2 in the above example.)
			</p>
		</details>
		<details>
			<summary id="create-profile-loader-release-missing">I don't see a <code>release fabric-loader-...</code> option for my Minecraft version.</summary>
			<p>
				Try restarting your Minecraft launcher.
				If that doesn't fix it, you forgot to install Fabric (Loader) and should go back to <a href="#fabric-loader">step 1</a>.
			</p>
		</details>
	</div>
</details>
