<details>
	<summary id="create-profile-automatically">I turned off "Create profile" earlier and now I don't have the <code>fabric-loader-...</code> installation.</summary>
	<p>
		Simply run the Fabric installer again, just like you did in <a href="#fabric-loader">step 1</a>.
		Select the same version as before, but this time make sure that "Create profile" is enabled, and then press "Install".
		The installer won't complain that you already did this.
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/how-to-install/use_fabric_installer.webp" alt="Fabric installer usage instructions">
	</p>
</details>
