<details>
	<summary id="fabric-api-cant-find-minecraft-folder">Where do I find my <code>.minecraft</code> folder?</summary>
	<p>
		<b>Windows:</b> Open your Windows Explorer and type <code>%appdata%/.minecraft</code> into the address bar.<br>
		(Alternatively you can press Win+R and type in the same thing.)
	</p>
	<p>
		<b>Linux:</b> Open your File Explorer and type <code>~/.minecraft</code> into the address bar.
	</p>
	<p>
		<b>Mac:</b> Open your Finder and type <code>~/Library/Application Support/minecraft</code> into the address bar.
	</p>
</details>
