<details>
	<summary id="fabric-api-doesnt-have-java-icon">My Fabric API file doesn't have the Java icon on it. It has a WinRAR logo instead.</summary>
	<p>
		Check the file extension. As long as it ends with <code>.jar</code>, everything is fine.
		It simply means that your computer is configured to open .jar files with WinRAR instead of Java.
	</p>
	<p>
		It doesn't matter for the Fabric API, since it's still a .jar file and will still work,
		but if you want to fix it there is a setting in Windows called "Choose default apps by file type" that lets you change this.
	</p>
</details>
