<details>
	<summary id="fabric-installer-opens-winrar">When I try to run the Fabric installer, WinRAR / 7-Zip / etc. opens instead.</summary>
	<p>
		This means your computer is configured to open .jar files with that other program instead of using Java.
		There is a setting in Windows called "Choose default apps by file type" that lets you change this.
	</p>
	<p>
		Alternatively, you can also use "right click" > "open with" to open the file with Java, like so:
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/how-to-install/fabric_run_with_java.webp" alt="how to run the Fabric installer with Java">
		<ul>
			<li>If you don't see Java in the list, select "Choose another app" at the bottom.</li>
			<li>Depending on your system, you will see either "Java(TM)&nbsp;Platform&nbsp;SE&nbsp;binary", "OpenJDK&nbsp;Platform&nbsp;binary", or both. It doesn't matter which one you use.</li>
			<li>If you can't find Java at all, you need to <a href="https://www.youtube.com/watch?v=Wv0vPUwitJs" target="_blank" rel="nofollow">install Java</a> first.<br>
			(The author of the video cannot help you with Wurst-related questions. If you need help, <a href="/contact">contact me</a> instead.)</li>
		</ul>
	</p>
</details>
