<details>
	<summary id="fabric-installer-no-java-installed">When I try to run the Fabric installer, I get a message saying I don't have Java.</summary>
	<p>
		Unsurprisingly, this means you don't have Java installed. Here is a <a href="https://www.youtube.com/watch?v=Wv0vPUwitJs" target="_blank" rel="nofollow">video on how to install Java</a>.
	</p>
	<p>
		(The author of the video cannot help you with Wurst-related questions. If you need help, <a href="/contact">contact me</a> instead.)
	</p>
</details>
