<details>
	<summary id="launch-cant-see-loader-installation">I can't see the <code>fabric-loader-...</code> installation.</summary>
	<p>
		First make sure that the "Modded" checkbox is enabled. Modded installations like Fabric are invisible without it.
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/how-to-install/modded_checkbox.webp" alt='where to find the "modded" checkbox in the Minecraft launcher'>
	</p>
	<p>
		If you already had the Minecraft launcher open while you were installing Fabric (Loader), it is possible that you need to restart the Minecraft Launcher to make it "realize" that there is a new installation.
	</p>
	<p>
		If none of that helps, you probably don't have the installation. You can either <a href="#create-profile-automatically">run the Fabric installer again</a>, or <a href="#create-profile-manually">create the installation manually</a>.
	</p>
</details>
