<details>
	<summary id="launch-player-safety-warning">The Minecraft launcher is warning me about "player safety features".</summary>
	<p>
		This is normal, unfortunately. Microsoft has decided to try and scare people away from modding by adding these "player safety" warnings to all modded installations.
	</p>
	<p>
		<a href="https://twitter.com/Wurst_Imperium/status/1353927165012811776" target="_blank">These warnings are complete nonsense and have nothing to do with actual safety!</a>
	</p>
	<p>
		You can safely disable these warnings and launch the game.
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/how-to-install/safety_nonsense.webp" alt="how to disable the Minecraft launcher's incredibly stupid 'player safety' warning">
	</p>
	<p>
		Or alternatively, switch to a <a href="https://multimc.org/" target="_blank">better launcher</a> that respects your freedom and doesn't lie about safety.
	</p>
</details>
