<details>
	<summary id="open-gui">OK great, but now how do I open Wurst's GUI?</summary>
	<p>
		Wurst actually has three different GUIs that you can choose from:
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/gui_keybinds.webp" alt="visualization of Wurst's GUI keybinds" title="Thanks to keyboard-layout-editor.com for this image!">
	</p>
	<ul>
		<li>
			<p>The GUI with the litte windows is called <a href="https://wurst.wiki/clickgui">ClickGUI</a> and opens with Right CTRL by default.</p>
		</li>
		<li>
			<p>The GUI with the search bar at the top is called <a href="https://wurst.wiki/navigator">Navigator</a> and opens with Right Shift by default.</p>
		</li>
		<li>
			<p>There is also a TabGUI, which I wouldn't recommend for beginners and does not open with a keybind by default. You can read more about it <a href="https://wurst.wiki/tabgui">here</a>.</p>
		</li>
	</ul>
	<p>
		Keep in mind you cannot open Wurst's GUI directly from the title screen. It only works while playing on a server or in a singleplayer world.
		If it still doesn't work there, double-check if Wurst is actually running or if it's <a href="#still-launches-vanilla">just vanilla Minecraft</a>.
	</p>
	<p>
		You might also want to look at this list of <a href="https://wurst.wiki/keybinds#default_keybinds" target="_blank">all default keybinds</a> and <a href="https://wurst.wiki/keybind_manager" target="blank">how to customize your keybinds</a>.
	</p>
</details>
