<details id="wurst-6-installer-jar-or-zip">
	<summary>I don't know whether to choose the <code>.JAR</code> or <code>.ZIP</code> version of the installer.</summary>
	<p>
		Either version will work for this tutorial, as long as you can run it on your computer.
		The .JAR version is generally recommended due to its smaller file size and cross-platform compatibility.
		However, if you're using Windows and don't have Java installed, the .ZIP version might be more convenient for you since it comes with a bundled Java runtime.
	</p>
</details>
