<details id="wurst-6-installer-cant-extract">
	<summary>When I click the "Extract" button, I get an error message saying <code>Couldn't find Minecraft</code> and <code>Please download ... through the launcher and try again</code></summary>
	<p>
		Please refer to the
		<a href="https://wurst.wiki/download_minecraft_through_launcher">How To Fix The "Couldn't Find Minecraft 1.12/1.8" Error</a>
		article on the Wurst Wiki for detailed instructions on how to fix this issue.
		The article will walk you through either downloading the necessary Minecraft version through the official Minecraft launcher
		or converting your MultiMC instance into a format that the Wurst installer can understand.
	</p>
</details>
