<details id="wurst-6-installer-wont-open">
	<summary>I don't know how to open the Wurst 6 installer, or nothing happens when I try.</summary>
	<p>
		For most users, opening the installer is as simple as double-clicking the file.
	</p>
	<p>
		However, issues can arise if Java is not installed, if WinRAR is set as the default program for .JAR files,
		or if you're trying to run the .ZIP version of the installer without un-zipping it first.
	</p>
	<p>
		Please refer to the regular <a href="/tutorials/how-to-install/wurst-6/">"How To Install Wurst 6" tutorial</a>
		for detailed instructions on how to fix such issues.
	</p>
</details>
