<details id="wurst-6-worried-server-compatability">
	<summary>I'm worried that using the correct version from this table will limit my ability to play on servers.</summary>
	<p>
		No need to worry! The version you choose here has no effect on which servers you can play on.
		Wurst 6 is compatible with a wide range of server versions, but you must use one specific Minecraft version during the installation process.
		Rest assured that these are separate processes, so you don't have to worry about server compatibility. 
	</p>
	<p>
		For instance, Wurst MC 1.12 requires Minecraft 1.12 during the installation, but then works with all Minecraft 1.12 to 1.12.2 servers.
		Similarly, Wurst MC 1.8 requires Minecraft 1.8 during the installation, but then works with all Minecraft 1.8 to 1.8.9 servers, and so on.
	</p>
</details>
