---
title: Wurst News
no_index: true
---
<div class="page-header">
	<div class="container">
		<h1 class="visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
			<span class="mega-octicon octicon-radio-tower"></span>
			{{ page.title }}
		</h1>
		<a href="/news/feed.xml" class="pull-right btn btn-default">
			<span class="hidden-xs">
				RSS feed
				<span class="octicon octicon-rss"></span>
			</span>
			<span class="visible-xs-inline h2">
				<span class="octicon octicon-rss" data-toggle="tooltip" data-placement="left" data-container="body" title="RSS feed"></span>
			</span>
		</a>
	</div>
</div>
<div class="container">
	{% for post in paginator.posts %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>
				<a href="{{ post.url | remove: "index.html" }}">
					{{ post.title }}
				</a>
			</h2>
			<p class="text-muted">
				by
				<i>{{ post.author }}</i>
				on
				<i>{{ post.date | date: "%b %-d %Y" }}</i>.
				{% if post.category %}
				Category:
				<i>{{ post.category }}</i>
				{% endif %}
			</p>
		</div>
		<div class="panel-body">
			{% if post.images.size > 0 %}
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					{% for image in post.images limit: 1 %}
					<div class="thumbnail">
						<a href="{{ post.url | remove: "index.html" }}">
							<img src="{{ image.link }}">
						</a>
					</div>
					{% endfor %}
				</div>
			{% endif %}
				{% if post.images.size > 0 %}
				<div class="col-xs-12 col-sm-6 col-md-8">
				{% endif %}
					<div class="lead">
						{{ post.excerpt }}
					</div>
			{% if post.images.size > 0 %}
				</div>
			</div>
			{% endif %}
		</div>
		<div class="panel-footer">
			<a href="{{ post.url | remove: "index.html" }}" class="btn btn-default">
				Read more
				<span class="octicon octicon-book"></span>
			</a>
			{% include post-footer.html post = post %}
		</div>
	</div>
	{% endfor %}
	<nav class="text-center">
		<ul class="pagination">
			{% if paginator.previous_page %}
			<li>
				<a href="{{ paginator.previous_page_path | remove: "index.html" }}">
					{% if paginator.next_page %}
					<span class="octicon octicon-arrow-left"></span>
					{% endif %}
					Newer News
				</a>
			</li>
			{% endif %}
			{% if paginator.next_page %}
			<li>
				<a href="{{ paginator.next_page_path | remove: "index.html" }}">
					Older News
					{% if paginator.previous_page %}
					<span class="octicon octicon-arrow-right"></span>
					{% endif %}
				</a>
			</li>
			{% endif %}
		</ul>
		<p>
			Want even more news?
		</p>
		<iframe src="https://ghbtns.com/github-btn.html?user=Alexander01998&type=follow&count=true" frameborder="0" scrolling="0" width="189px" height="20px"></iframe>
	</nav>
</div>
