---
title: News
no_index: true
---
<div class="container">
	<div class="page-header">
		<h1 class="visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
			<span class="mega-octicon octicon-radio-tower"></span>
			{{ page.title }}
		</h1>
		<a href="/news/feed.xml" class="pull-right btn btn-default"><span class="hidden-xs">RSS feed <span class="octicon octicon-rss"></span></span><span class="visible-xs mega-octicon octicon-rss"></span></a>
	</div>
	<div class="list-group">
		{% for post in paginator.posts %}
		<div class="list-group-item">
			<div class="panel-heading panel-title">
				<h2 class="list-group-item-heading">
					<a href="{{ post.url | remove: "index.html" }}">{{ post.title }}</a>
				</h2>
				<p class="text-muted">by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
			</div>
			<div class="list-group-item-text panel-body">
				{{ post.content | truncate: 256, "..." | markdownify }}
					<a href="{{ post.url | remove: "index.html" }}" class="btn btn-default">Read more <span class="octicon octicon-book"></span></a>
			</div>
		</div>
		{% endfor %}
		<nav>
			<ul class="pagination">
				{% if paginator.previous_page %}
				<li>
					<a href="{{ paginator.previous_page_path | remove: "index.html" }}" aria-label="previous page">
						<span class="octicon octicon-arrow-left"></span>
					</a>
				</li>
				{% endif %}
				<li class="active">
					<span>{{ paginator.page }}</span>
				</li>
				{% if paginator.next_page %}
				<li>
					<a href="{{ paginator.next_page_path | remove: "index.html" }}" aria-label="next page">
						<span class="octicon octicon-arrow-right"></span>
					</a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</div>
