<div class="container">
  <h1>{{ page.title }}</h1>
</div>
<hr>
<div class="container">
  {% for category in include.list %}
  <h2>{{ category[0] }}</h2>
  <div class="grid condensed">
    <div class="row cells3">
      {% for template in category[1] %}
      <div class="cell">
        <div class="margin10 padding10 shadow">
          <img src="{{ template.image }}">
          <div class="caption">
            <table class="table border bordered hovered">
              {% for data in template | offset: 2 %}
                <tr>
                  <th>{{ data[0] | capitalize }}:</th>
                  <td>{{ data[1] }}</td>
                </tr>
              {% endfor %}
            </table>
            <a class="button" href="https://github.com/Wurst-Imperium/files/releases/download/wurst-client.tk/{{ template.id }}.zip">
              <span class="mif-download2"></span>
              Download
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
