<footer class="align-center bg-grayDarker fg-grayLighter text-small padding10 no-padding-left no-padding-right">
	<div class="container">
		Copyright &#169; 2014 - {{ site.time | date: '%Y' }} | Alexander01998 | All rights reserved.
		<ul class="inline-list no-margin">
			<li><a href="/privacy/" class="fg-grayLight">Privacy Policy</a></li>
			<li><span class="fg-grayLight"><a href="https://www.google.com/settings/ads" target="_blank">Google Ads Settings</a></span></li>
			<li><a href="http://www.aboutads.info/choices/" target="_blank">Other Ads Settings</a></li>
		</ul>
		{% assign repo = "https://github.com/Wurst-Imperium/wurstclient.net" %}
		<ul class="inline-list no-margin">
			<li><a href="{{ repo }}/edit/gh-pages/{{ page.path }}" target="_blank" class="fg-grayLight">Edit Page</a></li>
			<li><a href="{{ repo }}/blob/gh-pages/{{ page.path }}" target="_blank" class="fg-grayLight">View Source</a></li>
		</ul>
	</div>
</footer>
<div id="search-dialog" data-role="dialog" data-href="/search.html" data-close-button="true" data-overlay="true" data-overlay-color="op-dark" data-overlay-click-close="true"></div>
