<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/" style="padding: 9px;">
				<img src="https://cloud.githubusercontent.com/assets/10100202/8148736/a02a0596-12aa-11e5-927d-3adf3ff4753e.png" alt="Wurst Client">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a href="/news/">
						<span class="octicon octicon-radio-tower"></span>
						News
					</a>
				</li>
				<li>
					<a href="/downloads/">
						<span class="octicon octicon-cloud-download"></span>
						Downloads
					</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="octicon octicon-list-unordered"></span>
						More
					</a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="https://github.com/Wurst-Imperium/Wurst-Client/fork">
								<span class="octicon octicon-git-pull-request"></span>
								Contribute
							</a>
						</li>
						<li>
							<a href="/wiki">
								<span class="octicon octicon-book"></span>
								Wurst Wiki
							</a>
						</li>
						<li>
							<a href="https://github.com/Wurst-Imperium/Wurst-Client/issues?q=label%3Aquestion">
								<span class="octicon octicon-question"></span>
								Questions &amp; Answers
							</a>
						</li>
						<li>
							<a href="https://github.com/Wurst-Imperium/Wurst-Client/labels/bug">
								<span class="octicon octicon-bug"></span>
								Report Bugs
							</a>
						</li>
						<li>
							<a href="https://github.com/Wurst-Imperium/Wurst-Client/labels/enhancement">
								<span class="octicon octicon-comment"></span>
								Suggest Features
							</a>
						</li>
					</ul>
				</li>
			</ul>
			{% unless include.no_search %}
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a style="padding: 8px;" class="dropdown-toggle" data-toggle="dropdown">
						<input id="search-input" type="text" class="form-control" placeholder="Search">
					</a>
					<ul id="search-results" class="dropdown-menu"></ul>
				</li>
			</ul>
			{% endunless %}
		</div>
	</div>
</nav>
