<aside class="bg-amber padding5 text-bold">
	<div class="container align-center">
		NEW: <a href="https://www.reddit.com/r/WurstClient/comments/13xaxbt/contest_mode_vote_for_new_featuressettingschanges/" target="_blank" rel="nofollow" class="fg-black" style="text-decoration: underline" data-analytics="Site-Wide Banner CTA Click">Vote for Features/Settings/Changes in the Wurst 7.36 Update!</a>
	</div>
</aside>

<nav class="app-bar darcula" data-role="appbar" style="position: absolute;">
	<div class="container">
		<a class="app-bar-element branding" href="/">
			{%- assign month = site.time | date: '%m' | plus: 0 -%}
			{%- if month == 12 -%}
				<img src="https://images.wurstclient.net/_media/logo/wurst_xmas_253x96_ll.webp" width="253" height="96" alt="Wurst Client logo with santa hat" style="height: 2.5rem;width: auto;vertical-align: baseline">
			{%- else -%}
				<img src="https://images.wurstclient.net/_media/logo/wurst_253x64_ll.webp" width="253" height="64" alt="Wurst Client logo" style="height: 2rem;width: auto">
			{%- endif -%}
		</a>
		<ul class="app-bar-menu">
			<li><a href="/download/">Download</a></li>
			<li><a href="/tutorials/">Tutorials</a></li>
			<li><a href="https://github.com/Wurst-Imperium/Wurst7" target="_blank">Source Code</a></li>
			<li><a href="/contact/">Contact Me</a></li>
			<li><a href="/donate/">Donate</a></li>
		</ul>
	</div>
</nav>
<div style="height: 45px;"></div>
