{% assign post = include.post %}
{% if post.category == "Wurst-update" %}
<a class="btn btn-default" href="https://github.com/Wurst-Imperium/Wurst-Client/releases/download/{{ post.Wurst-version }}/Wurst-Client-{{ post.Wurst-version }}.zip">
  <span class="octicon octicon-cloud-download"></span>
  Download Wurst {{ post.Wurst-version }}
</a>
<a class="btn btn-default" target="_blank" href="https://github.com/Wurst-Imperium/Wurst-Client/releases/tag/{{ post.Wurst-version }}">
  <span class="octicon octicon-list-unordered"></span>
  Changelog
</a>
{% endif %}
