{% assign post = include.post %}
{% if post.category == "Wurst-update" %}
<div class="list-group">
    <a href="https://github.com/Wurst-Imperium/Wurst-Client/releases/tag/{{ post.Wurst-version }}" class="list-group-item h4">
      <span class="octicon octicon-cloud-download"></span>
      Download Wurst {{ post.Wurst-version }}
    </a>
    <a href="https://github.com/Wurst-Imperium/Wurst-Client/pulls" class="list-group-item">
      <span class="octicon octicon-git-pull-request"></span>
      Contribute
    </a>
    <a href="/bugs" class="list-group-item">
      <span class="octicon octicon-bug"></span>
      Report Bugs
    </a>
    <a href="/ideas" class="list-group-item">
      <span class="octicon octicon-comment"></span>
      Suggest Features
    </a>
</div>
{% endif %}
