{% unless post %}
  {% assign post = page %}
{% endunless %}
{% if page == post %}
  <div>
    <h1 class="align-center text-shadow">{{ post.title }}</h1>
{% else %}
  <header>
    <h1 class="sub-leader">
      <a href="{{ post.url }}" class="fg-dark">
        {{ post.title }}
      </a>
    </h1>
{% endif %}
  <ul class="inline-list fg-grayLight{% if page == post %}er align-center margin10 no-margin-left no-margin-right{% else %} text-secondary no-margin{% endif %}">
    <li title="author: {{ post.author }}">
      <span class="mif-user"></span>
      {{ post.author }}
    </li>
  <li title="date posted: {{ post.date | date: "%Y-%m-%d" }}">
    <span class="mif-calendar"></span>
    {{ post.date | date: "%Y-%m-%d" }}
  </li>
    {% if post.category %}
      <li title="category: {{ post.category }}">
        <span class="mif-cabinet"></span>
        {{ post.category }}
      </li>
    {% endif %}
  </ul>
{% if page == post %}
  </div>
{% else %}
  </header>
{% endif %}
