{% assign post = include.post %}
<header>
  {% if page == post %}
		<ul class="breadcrumbs">
		  <li><a href="/news/">News</a></li>
		  <li><span>{{ page.title }}</span></li>
		</ul>
    <h1>{{ post.title }}</h1>
  {% else %}
    <h1 class="sub-leader">
      <a href="{{ post.url }}" class="fg-dark">
        {{ post.title }}
      </a>
    </h1>
  {% endif %}
  <ul class="inline-list fg-grayLight{% if page != post %} text-secondary no-margin-top no-margin-bottom{% endif %}">
    <li data-role="hint" data-hint="Author|{{ post.author }}" data-hint-mode="2" data-hint-background="bg-grayLighter">
      <span class="mif-user"></span>
      {{ post.author }}
    </li>
    <li data-role="hint" data-hint="Date|{{ post.date | date: "%B %-d, %Y" }}" data-hint-mode="2" data-hint-background="bg-grayLighter">
      <span class="mif-alarm"></span>
      {{ post.date | date: "%B %-d, %Y" }}
    </li>
    {% if post.category %}
      <li data-role="hint" data-hint="Category|{{ post.category }}" data-hint-mode="2" data-hint-background="bg-grayLighter">
        <span class="mif-cabinet"></span>
        {{ post.category }}
      </li>
    {% endif %}
  </ul>
</header>
