<div class="panel panel-default">
  <div class="panel-heading">
    <span class="panel-title">
      Want More News?
      <br>
      Follow Me!
    </span>
  </div>
  <div class="list-group">
    <a class="list-group-item" href="/youtube" target="_blank">
      <img alt="YouTube" src="https://cloud.githubusercontent.com/assets/10100202/8556919/5068feb0-24fa-11e5-896f-88ed64ccedba.png">
      YouTube
    </a>
    <a class="list-group-item" href="/twitter" target="_blank">
			<img alt="Twitter" src="https://cloud.githubusercontent.com/assets/10100202/8556918/5067f56a-24fa-11e5-9e45-4d271be6e1ad.png">
      Twitter
    </a>
    <a class="list-group-item" href="/gplus" target="_blank">
			<img alt="Wurst Client on Google+" src="https://cloud.githubusercontent.com/assets/10100202/9079321/2fdc9d5e-3b49-11e5-860a-a5ac94bd3ca0.png">
      Google+
    </a>
  </div>
</div>
