<nav class="padding10 shadow">
  <span class="sub-header">Latest Posts</span>
  <ul class="unstyled-list">
    {% for item in site.posts | limit: 5 %}
    <li class="margin10 no-margin-left no-margin-right"><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</nav>
<div class="padding10 margin20 no-margin-left no-margin-right no-margin-bottom shadow">
  <a href="https://www.alexander01998.tk/about" onclick="ga('send', 'event', 'sidebar', 'click', 'about me');">
    <span class="sub-header">About Alexander</span>
  </a>
  <div class="align-center margin10 no-margin-left no-margin-right no-margin-bottom">
    <a href="https://www.alexander01998.tk/about" onclick="ga('send', 'event', 'sidebar', 'click', 'about me');">
      <div style="display: inline-block;width: 100px;">
        <img src="https://cloud.githubusercontent.com/assets/10100202/16020308/ac5c422a-31ad-11e6-8d2e-cfcf89afdca0.jpg" alt="Alexander01998" data-role="fitImage" data-format="cycle">
      </div>
    </a>
  </div>
  <p>
    I'm an 18-year old internet entrepreneur and hobby programmer with a desire to understand life, create amazing things and collect amazing moments. The Wurst Client is by far my most popular project with millions of users worldwide.
  </p>
  <p>
    <a href="https://www.alexander01998.tk/about" onclick="ga('send', 'event', 'sidebar', 'click', 'about me');">
      <span class="mif-chevron-thin-right"></span>
      Learn More
    </a>
  </p>
</div>
