{% assign wiki = site.data.wikilinks %}

{% if page.hacks %}
<details>
    <summary class="padding10">Hacks, Cheats, and Mods: (click to expand)</summary>
    <ul>
        {% for hack in page.hacks %}
            <li>
                {% if wiki.hacks[hack] %}
                    <a href="{{ wiki.hacks[hack] }}">{{ hack }}</a>
                {% else %}
                    {{ hack }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</details>
{% endif %}

{% if page.commands %}
<details>
    <summary class="padding10">Chat Commands: (click to expand)</summary>
    <ul>
        {% for cmd in page.commands %}
            <li>
                {% if wiki.commands[cmd] %}
                    <a href="{{ wiki.commands[cmd] }}"><code>{{ cmd }}</code></a>
                {% else %}
                    <code>{{ cmd }}</code>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</details>
{% endif %}

{% if page.other %}
<details>
    <summary class="padding10">Other Features: (click to expand)</summary>
    <ul>
        {% for other in page.other %}
            <li>
                {% if wiki.other[other] %}
                    <a href="{{ wiki.other[other] }}">{{ other }}</a>
                {% else %}
                    {{ other }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</details>
{% endif %}

<p><b>Still not enough? <a href="/contact/">Suggest new features!</a></b></p>
