{% if include.post != null %}

  {% assign version = include.post.Wurst-version %}
  {% if version contains "pre" %}
    {% assign pre-release = true %}
  {% else %}
    {% assign pre-release = false %}
  {% endif %}
  {% assign video-id = include.post.video-id %}
  {% case include.mcversion %}
    {% when "1.9.X" %}
      {% assign version-range = "1.9 - 1.9.4" %}
    {% when "1.8.X" %}
      {% assign version-range = "1.8 - 1.8.9" %}
    {% when "1.7.X" %}
      {% assign version-range = "1.7.2 - 1.7.10" %}
  {% endcase %}

  <div class="margin20 no-margin-left no-margin-right no-margin-top">
    <h2>
      {% if pre-release %}
        Latest Version:
      {% else %}
        Recommended Version:
      {% endif %}
      Wurst {{ version | remove: "v" }}
    </h2>
    {% if pre-release %}
      <div class="ribbed-amber padding10">
        <p class="bg-white padding10 no-margin text-accent">
          <strong>Warning:</strong> This is a pre-release. It is unstable and may cause problems.
        </p>
      </div>
    {% endif %}
    <div class="grid">
      <div class="row {% if video-id %}cells2{% endif %}">
        <div class="cell">
          <a class="command-button {% if pre-release %}warning{% else %}primary{% endif %}" href="{{ include.post.url }}" onclick="ga('send', 'event', 'downloads', 'download', '{{ version }}');">
            <span class="icon mif-cloud-download"></span>
            Download Wurst
            <small>{{ version }} for Minecraft {{ version-range }}</small>
          </a>
          <br>
          <a class="button large-button" href="{{ include.post.url }}" onclick="ga('send', 'event', 'downloads', 'view changelog', '{{ version }}');">
            <span class="mif-list"></span>
            &nbsp;
            View Changelog
          </a>
          <br>
          <a class="button large-button" href="/wiki/Installation/" onclick="ga('send', 'event', 'downloads', ' view installation tutorial', '{{ version }}');">
            <span class="mif-school"></span>
            &nbsp;
            How to Install
          </a>
        </div>
        {% if video-id %}
          <div class="cell">
            {% capture onclick %}ga('send', 'event', 'downloads', 'watch video', '{{ version }}');{% endcapture %}
  					{% include video.html id = video-id onclick = onclick %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
