{% if include.post != null %}

  {% assign version = include.post.Wurst-version %}
  {% if version contains "pre" %}
    {% assign pre-release = true %}
  {% else %}
    {% assign pre-release = false %}
  {% endif %}
  {% assign video = include.post.video %}
  {% assign thumbnail = include.post.image %}
  {% case include.mcversion %}
    {% when "1.10.X" %}
      {% assign version-range = "1.10 - 1.10.2" %}
    {% when "1.9.X" %}
      {% assign version-range = "1.9 - 1.9.4" %}
    {% when "1.8.X" %}
      {% assign version-range = "1.8 - 1.8.9" %}
    {% when "1.7.X" %}
      {% assign version-range = "1.7.2 - 1.7.10" %}
  {% endcase %}

  <div class="margin20 no-margin-left no-margin-right no-margin-top">
    <h2>
      {% if pre-release %}
        Latest Version:
      {% else %}
        Recommended Version:
      {% endif %}
      Wurst {{ version | remove: "v" }}
    </h2>
    {% if pre-release %}
      <div class="ribbed-amber padding10">
        <p class="bg-white padding10 no-margin text-accent">
          <strong>Warning:</strong> This is a pre-release. It is unstable and may cause problems.
        </p>
      </div>
    {% endif %}
    <div class="grid">
      <div class="row {% if video or thumbnail %}cells2{% endif %}">
        <div class="cell padding20">
          <span class="mif-arrow-right mif-4x {% if pre-release %}fg-cyan{% else %}fg-orange{% endif %} no-tablet"></span>
          <span class="mif-arrow-down-right mif-4x {% if pre-release %}fg-cyan{% else %}fg-orange{% endif %} no-pc"></span>
          <br class="no-pc">
          <a class="command-button {% if pre-release %}warning{% else %}primary{% endif %}" href="{{ include.post.url }}" onclick="ga('send', 'event', 'downloads', 'download', '{{ version }}');">
            <span class="icon mif-cloud-download"></span>
            Download Wurst
            <small>{{ version }} for Minecraft {{ version-range }}</small>
          </a>
        </div>
        {% if video %}
          <div class="cell">
            {% capture onclick %}ga('send', 'event', 'downloads', 'watch video', '{{ version }}');{% endcapture %}
  					{% include video.html id = video thumbnail = thumbnail onclick = onclick %}
          </div>
        {% elsif thumbnail %}
          <div class="cell">
            <a href="{{ include.post.url }}">
              <img src="{{ thumbnail }}" alt="Wurst {{ version | remove: "v" }}">
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
