<div class="bg-lightGreen padding5" style="display: none" id="afa-prompt">
	<a href="/ad-free/" class="fg-black" data-analytics="Wurst Update Page: Ad-Free CTA Click">
		<div class="bg-white padding10 align-center">
			<div class="align-left inline-block">
				<p>
					Tired of ads? Buy an <b>Ad-Free Access Pass</b> to enjoy the Wurst Client without distractions!
				</p>
				<ul class="unstyled-list">
					<li>&check; No banner ads</li>
					<li>&check; No pop-ups</li>
					<li>&check; No recurring fees</li>
				</ul>
				<p>
					<span class="button primary shadow bg-lightGreen fg-black bd-green">Get Ad-Free Access</span>
				</p>
			</div>
		</div>
	</a>
</div>
