<div class="bg-lightGreen padding5" style="display: none" id="afa-prompt">
	<a href="/ad-free/" class="fg-black" data-analytics="Wurst Update Page: Ad-Free CTA Click">
		<div class="bg-white padding10 align-center">
			<div class="align-left inline-block">
				<p>
					<b>NEW:</b>
					Enjoy the Wurst Client ad-free!
				</p>
				<ul class="unstyled-list">
					<li>&check; No banner ads</li>
					<li>&check; No pop-ups</li>
					<li>&check; No recurring fees</li>
				</ul>
			</div>
		</div>
	</a>
</div>
