<p>
    <b>Note:</b> The original downloads for this version had to be removed because they contained copyrighted code from Minecraft 1.7.2. This is a remake that doesn't contain the copyrighted code. Once installed, this version looks and feels exactly like the original. The only difference is that this version uses a modern Wurst 6 installer and creates a Minecraft launcher profile with a different name.
</p>
<p>
    The installer contains the Wurst Client, but with all of the Minecraft code stripped out. This file would not work on its own, but when you run the installer, it takes your existing Minecraft installation and combines it with this file to create a working Wurst installation. This way, the file you download doesn't actually contain any copyrighted code.
</p>
<p>
    You must have Minecraft 1.7.2 (not 1.7.10) installed in order for the Wurst installer to work. Even if you plan to use Wurst on 1.7.10 servers, it still needs the code from Minecraft 1.7.2 because that's what this Wurst version is based on.
</p>
