<div class="bg-lightGreen padding5">
	<div class="bg-white padding10">
		<div class="align-center">
			<a href="https://ko-fi.com/wurst" data-analytics="Wurst Update Page: Donate Now CTA Click">
				<img src="https://github.com/Wurst-Imperium/WurstClient.net/assets/10100202/f176e89d-4b6f-47c4-9e30-2cb49e373423" alt="Wurst Ko-fi Cape Tier">
			</a>
			<p><strong>Support Wurst & Get Exclusive Rewards!</strong></p>
			<a href="https://ko-fi.com/wurst" class="button bg-lightGreen" data-analytics="Wurst Update Page: Donate Now CTA Click">
				Donate Now
			</a>
		</div>
	</div>
</div>
