<div class="bg-lightGreen padding5">
	<div class="bg-white padding10">
		<p class="no-margin-top">
			If you've found this update helpful, please consider supporting Wurst's future development by making a donation.
			Your support will help ensure that Wurst remains free and open source for everyone to use.
			Every bit helps, and is much appreciated. Thank you for your support!
		</p>
		<a href="/donate/" class="button bg-lightGreen" data-analytics='"Wurst Update Page: Donate Now CTA Click"'>
			Donate Now
		</a>
	</div>
</div>
