<style>
	ul.spaced-list li {
		margin-block: 1em;
	}
	a.command-button {
		color: #262626;
	}
</style>

{%- for update in site.updates reversed -%}
	{%- assign latest = update.wurst-version -%}
	{%- break -%}
{%- endfor -%}

{%- assign mcxbase = "https://github.com/Wurst-Imperium/Wurst-MCX2/releases/download/" -%}

{%- if page.old-downloads or page.old-mcx -%}

	{%- include update/dmca-removed.html -%}

{%- elsif page.fabric -%}
	<div class="padding10 no-padding-left no-padding-right" style="display: grid;grid-template-columns: 1fr;">

		{%- assign mcversion-type = "release" -%}
		{%- for mcversion in page.minecraft-versions -%}
		<div data-mcversion="{{ mcversion }}" class="padding10 no-padding-left no-padding-right">
			{%- capture mcversion-range -%}{%- unless site.mcversions[mcversion] -%}{{ mcversion }}{%- else -%}{{ site.mcversions[mcversion] }}{%- endunless -%}{%- endcapture -%}
			<h3>for Minecraft {{ mcversion-range }} + Fabric</h3>
			{%- include update/fabric-download.html -%}
		</div>
		{%- endfor -%}

		{%- if page.snapshots -%}
		<div data-mcversion="snapshot" class="padding10 no-padding-left no-padding-right">
			<h3>for Minecraft Snapshots</h3>
			<div style="display: grid;grid-template-columns: 1fr;">
				{%- assign mcversion-type = "snapshot" -%}
				{%- for mcversion in page.snapshots -%}
				<details data-snapshot="{{ mcversion }}">
					<summary>{{ mcversion }} (click to expand)</summary>
					{%- include update/fabric-download.html -%}
				</details>
				{%- endfor -%}
			</div>
		</div>
		{%- endif -%}

	</div>
{%- else -%}

	{%- if page.mc-1-7-remake -%}
		{%- include update/dmca-remade.html -%}
	{%- endif -%}

	{%- unless page.no-zip -%}
		{%- include update/wurst6-downloads.html mode = "zip" -%}
	{%- endunless -%}

	{%- include update/wurst6-downloads.html mode = "jar" -%}

{%- endif -%}

{%- if page.torrent -%}
	{%- include update/torrent.html -%}
{%- endif -%}

<script>
	let urlParams = new URLSearchParams(window.location.search);
	let mc = urlParams.get("mc") || urlParams.get("snapshot");

	if (mc) {
		let snapshotDetails = document.querySelectorAll(`details[data-snapshot="${mc}"]`);
		if (snapshotDetails.length > 0) {
			mc = "snapshot";
			snapshotDetails.forEach(details => {
				details.style.gridRow = "1";
				details.open = true;
			});
		}

		let mcversionElements = document.querySelectorAll(`[data-mcversion="${mc}"]`);
		mcversionElements.forEach(element => element.style.gridRow = "1");
	}
</script>