<style>
	ul.spaced-list li {
		margin-block: 1em;
	}
	a.command-button {
		color: #262626;
	}
</style>

{%- for update in site.updates reversed -%}
	{%- assign latest = update.wurst-version -%}
	{%- break -%}
{%- endfor -%}

{%- assign mcxbase = "https://github.com/Wurst-Imperium/Wurst-MCX2/releases/download/" -%}

{%- if page.old-downloads or page.old-mcx -%}

	{%- include update/dmca-removed.html -%}

{%- elsif page.fabric -%}
	<div class="padding10 no-padding-left no-padding-right" style="display: grid;grid-template-columns: 1fr;">

		{%- assign mcversion-type = "release" -%}
		{%- for mcversion in page.minecraft-versions -%}
		<div data-mcversion="{{ mcversion }}" class="padding10 no-padding-left no-padding-right">
			{%- capture mcversion-range -%}{%- unless site.mcversions[mcversion] -%}{{ mcversion }}{%- else -%}{{ site.mcversions[mcversion] }}{%- endunless -%}{%- endcapture -%}
			<h3>for Minecraft {{ mcversion-range }} + Fabric</h3>
			{%- include update/fabric-download.html -%}
		</div>
		{%- endfor -%}

		{%- if page.snapshots -%}
		<div data-mcversion="snapshot" class="padding10 no-padding-left no-padding-right">
			<h3>for Minecraft Snapshots</h3>
			<div style="display: grid;grid-template-columns: 1fr;">
				{%- assign mcversion-type = "snapshot" -%}
				{%- for mcversion in page.snapshots -%}
				<details data-snapshot="{{ mcversion }}">
					<summary>{{ mcversion }} (click to expand)</summary>
					{%- include update/fabric-download.html -%}
				</details>
				{%- endfor -%}
			</div>
		</div>
		{%- endif -%}

	</div>
{%- else -%}

	{%- if page.mc-1-7-remake -%}
		{%- include update/dmca-remade.html -%}
	{%- endif -%}

	{%- unless page.no-zip -%}
		{%- include update/wurst6-downloads.html mode = "zip" -%}
	{%- endunless -%}

	{%- include update/wurst6-downloads.html mode = "jar" -%}

{%- endif -%}

{%- if page.torrent -%}
	{%- include update/torrent.html -%}
{%- endif -%}

<script>
	// handle mc and snapshot parameters
	let urlParams = new URLSearchParams(window.location.search);
	let mc = urlParams.get("mc") || urlParams.get("snapshot");
	if (mc) {
		let snapshotDetails = document.querySelectorAll(`details[data-snapshot="${mc}"]`);
		if (snapshotDetails.length > 0) {
			mc = "snapshot";
			snapshotDetails.forEach(details => {
				details.style.gridRow = "1";
				details.open = true;
			});
		}
		let mcversionElements = document.querySelectorAll(`[data-mcversion="${mc}"]`);
		mcversionElements.forEach(element => element.style.gridRow = "1");
	}

	// find download and donation buttons
	let mainDownloadButtons = document.querySelectorAll('a[data-analytics="Download Wurst"][data-analytics-type="main"]');
	let donationCTAs = document.querySelectorAll('a[data-analytics="Wurst Update Page: Donate Now CTA Click"]');

	// track download count per visitor (capped at 20 for privacy reasons)
	// and time since first download (rounded for privacy reasons)
	let downloadCount = parseInt(localStorage.getItem('WurstDownloadCount')) || 0;
	downloadCount = Math.max(0, Math.min(downloadCount, 21));
	function getTimeSinceFirstDownload() {
		const firstDownload = parseInt(localStorage.getItem('FirstWurstDownload')) || Date.now();
		const timeSince = Date.now() - firstDownload;
		const days = Math.floor(timeSince / 1000 / 60 / 60 / 24);
		const weeks = Math.floor(days / 7);
		const months = Math.floor(days / 30);
		if(days < 1)
			return '<1 day';
		if(weeks < 1)
			return `${days} day${days === 1 ? '' : 's'}`;
		if(months < 1)
			return `${weeks} week${weeks === 1 ? '' : 's'}`;
		if(months < 12)
			return `${months} month${months === 1 ? '' : 's'}`;
		return '>1 year';
	}
	function updateDownloadCountAttribute() {
		const count = downloadCount > 20 ? '>20' : downloadCount;
		const firstDlTime = getTimeSinceFirstDownload();
		mainDownloadButtons.forEach(button => {
			button.setAttribute('data-analytics-downloadcount', count);
			button.setAttribute('data-analytics-firstdltime', firstDlTime);
		});
		donationCTAs.forEach(button => {
			button.setAttribute('data-analytics-prior_wurst_downloads', count);
			button.setAttribute('data-analytics-first_wurst_download', firstDlTime);
		});
	}
	updateDownloadCountAttribute();
	if(downloadCount <= 20) {
		let clickHandler = function() {
			localStorage.setItem('WurstDownloadCount', ++downloadCount);
			if(downloadCount === 1 || !localStorage.getItem('FirstWurstDownload'))
				localStorage.setItem('FirstWurstDownload', Date.now());
			updateDownloadCountAttribute();
			if(downloadCount > 20) {
				mainDownloadButtons.forEach(button => {
					button.removeEventListener('click', this);
					button.removeEventListener('auxclick', this);
				});
			}
		}
		mainDownloadButtons.forEach(button => {
			button.addEventListener('click', clickHandler);
			button.addEventListener('auxclick', clickHandler);
		});
	}

	// track whether the visitor uses an adblocker
	let adBlockerDetected = false;
	let adSenseScript = document.querySelector('script[src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5218363098774955"]');
	function updateAdBlockerAttribute() {
		let setAttr = button => {
			button.setAttribute('data-analytics-adblocker', adBlockerDetected);
		};
		mainDownloadButtons.forEach(setAttr);
		donationCTAs.forEach(setAttr);
	}
	adSenseScript.onload = function() {
		let firstAd = document.querySelector('ins.adsbygoogle');
		if(!firstAd || !firstAd.style.height)
			adBlockerDetected = true;
		updateAdBlockerAttribute();
	};
	adSenseScript.onerror = function() {
		adBlockerDetected = true;
		updateAdBlockerAttribute();
	};
</script>
