{% for update in site.updates reversed %}
	{% assign latest = update.wurst-version %}
	{% break %}
{% endfor %}

{% assign mcxbase = "https://github.com/Wurst-Imperium/Wurst-MCX2/releases/download/" %}
{% assign adbase = "https://files.wurstimperium.net/wurst/" %}

{% if page.admaven != nil %}
	{% if page.admaven == "safe-mode" %}
		{% assign use-admaven = true %}
		{% assign adbase = "https://files.wurstimperium.net/safe-mode/" %}
	{% else %}
		{% assign use-admaven = page.admaven %}
	{% endif %}
{% elsif page.wurst-version == latest %}
	{% assign use-admaven = false %}
{% else %}
	{% assign use-admaven = true %}
{% endif %}

{% if page.old-downloads or page.old-mcx %}

	{% include update/dmca-removed.html %}

{% elsif page.fabric %}

	{% include update/fabric-downloads.html %}

{% else %}

	{% if page.mc-1-7-remake %}
		{% include update/dmca-remade.html %}
	{% endif %}

	{% unless page.no-zip %}
		{% include update/wurst6-downloads.html mode = "zip" %}
	{% endunless %}

	{% include update/wurst6-downloads.html mode = "jar" %}

{% endif %}

{% if page.torrent %}
	{% include update/torrent.html %}
{% endif %}
