<div class="padding10 no-padding-left no-padding-right">
	<h3>
		Wurst Client Fabric Mod
		<span class="tag fg-white bg-grayLight" style="cursor: help;vertical-align: baseline;" title="NOT an installer!">.JAR</span>
	</h3>
	{% for mcversion in page.minecraft-versions %}

		{% capture full-version %}v{{ page.wurst-version }} MC{{ mcversion }}{% endcapture %}
		{% capture mcversion-range %}{% unless site.mcversions[mcversion] %}{{ mcversion }}{% else %}{{ site.mcversions[mcversion] }}{% endunless %}{% endcapture %}
		{% capture basepath %}v{{ page.wurst-version }}/Wurst-Client-v{{ page.wurst-version }}-MC{{ mcversion | replace: " ", "-" }}{% endcapture %}

		{% capture adlink %}{{ adbase }}?version={{ full-version | urlencode }}&path={{ basepath }}.jar{% endcapture %}
		{% capture directlink %}{{ mcxbase }}{{ basepath }}.jar{% endcapture %}
		{% capture srclink %}{{ mcxbase }}{{ basepath }}-sources.jar{% endcapture %}
		{% capture devlink %}{{ mcxbase }}{{ basepath }}-dev.jar{% endcapture %}
		{% capture srcdevlink %}{{ mcxbase }}{{ basepath }}-sources-dev.jar{% endcapture %}

		<h4 class="no-margin-bottom">for Minecraft {{ mcversion-range }}</h4>
		<p class="no-margin-top">

			{% if page.no-admaven contains mcversion or use-admaven == false %}
				<a class="tile inline-block no-float bg-grayDark command-button primary no-border no-margin-left" href="{{ directlink }}" rel="nofollow" target="_blank" style="width: auto;height: auto;">
					<span class="icon mif-file-download"></span>
					Wurst Client {{ full-version }}
					<small>direct link</small>
				</a>
			{% else %}
				<a class="tile inline-block no-float bg-grayDark command-button primary no-border no-margin-left" href="{{ adlink }}" rel="nofollow noopener" target="_blank" style="width: auto;height: auto;">
					<span class="icon mif-file-download"></span>
					Wurst Client {{ full-version }}
					<small>ad-supported link</small>
				</a>
				<span class="inline-block margin20 no-margin-right">
					<a href="{{ directlink }}" rel="nofollow" target="_blank">(direct link)</a>
				</span>
			{% endif %}

			<span class="inline-block margin20 no-margin-right">
				<a href="{{ srclink }}" rel="nofollow" target="_blank">(sources)</a>
			</span>
			<span class="inline-block margin20 no-margin-right">
				<a href="{{ devlink }}" rel="nofollow" target="_blank">(dev)</a>
			</span>
			<span class="inline-block margin20 no-margin-right">
				<a href="{{ srcdevlink }}" rel="nofollow" target="_blank">(sources-dev)</a>
			</span>

			{% if page.fabric-api %}
				<span class="inline-block margin20 no-margin-right">
					<a href="{{ page.fabric-api[mcversion] }}" rel="nofollow" target="_blank">(Fabric API)</a>
				</span>
			{% endif %}

		</p>
	{% endfor %}
</div>
