{%- capture full-version -%}v{{ page.wurst-version }} MC{{ mcversion }}{%- endcapture -%}
{%- capture basepath -%}v{{ page.wurst-version }}/Wurst-Client-v{{ page.wurst-version }}-MC{{ mcversion | replace: " ", "-" }}{%- endcapture -%}

{{/*  find the latest version of Wurst for the given Minecraft version  */}}
{%- for update in site.updates reversed -%}
	{%- if update.minecraft-versions contains mcversion or update.snapshots contains mcversion -%}
		{%- assign latest = update -%}
		{%- break -%}
	{%- endif -%}
{%- endfor -%}

{{/*  if there is a newer version of Wurst for the given Minecraft version, display a warning  */}}
{%- if latest and page != latest -%}
<div class="bg-amber padding5">
	<div class="bg-white padding10">
		<p class="no-margin-top no-margin-bottom">
			<b>IMPORTANT:</b> You are currently viewing Wurst {{ page.wurst-version }}, which is an older version for Minecraft {{ mcversion }}. For optimal performance and the latest features, we recommend downloading
			<b><a href="{{ latest.url }}?mc={{ mcversion }}"
				data-analytics="Old Version Warning: Link Click"
				data-analytics-oldversion="{{ page.wurst-version }}"
				data-analytics-newversion="{{ latest.wurst-version }}"
				data-analytics-mcversion="{{ mcversion }}"
				data-analytics-mcversiontype="{{ mcversion-type }}"
			>
				Wurst {{ latest.wurst-version }} MC{{ mcversion }}
			</a></b>
			instead.
		</p>
	</div>
</div>
{%- endif -%}

<p>
	{%- capture mainlink -%}{{ mcxbase }}{{ basepath }}.jar{%- endcapture -%}
	{%- assign mainfile = mainlink | split: '/' | last -%}
	<a class="command-button download"
		href="javascript:void(0)"
		onclick="window.open('{{ mainlink }}', '_blank')"
		data-analytics="Download Wurst"
		data-analytics-version="{{ page.wurst-version }}"
		data-analytics-mcversion="{{ mcversion }}"
		data-analytics-mcversiontype="{{ mcversion-type }}"
		data-analytics-modloader="Fabric"
		data-analytics-type="main"
		data-analytics-mirror="GitHub"
		data-analytics-file="{{ mainfile }}"
	>
		<span class="icon mif-file-download"></span>
		Wurst Client {{ full-version }}
		<small>File: {{ mainfile }}</small>
	</a>

	{%- if page.fabric-api -%}
		{%- assign apiversion = page.fabric-api[mcversion] -%}
		{%- assign apiversion_short = apiversion | split: '+' | first -%}
		{%- if apiversion contains "curseforge.com" -%}
			{%- assign apilink = apiversion -%}
			{%- assign mirror = "CurseForge" -%}
		{%- else -%}
			{%- capture apilink -%}https://github.com/FabricMC/fabric/releases/download/{{ apiversion }}/fabric-api-{{ apiversion }}.jar{%- endcapture -%}
			{%- assign mirror = "GitHub" -%}
			{%- assign apifile = apilink | split: '/' | last -%}
		{%- endif -%}
		<a class="command-button"
			href="javascript:void(0)"
			onclick="window.open('{{ apilink }}', '_blank')"
			data-analytics="Download Fabric API"
			data-analytics-mirror="{{ mirror }}"
			{% if mirror == "GitHub" -%}
				data-analytics-version="{{ apiversion_short }}"
				data-analytics-file="{{ apifile }}"
			{%- else -%}
				data-analytics-url="{{ apilink }}"
			{%- endif %}
			data-analytics-mcversion="{{ mcversion }}"
			data-analytics-mcversiontype="{{ mcversion-type }}"
			data-analytics-wurstversion="{{ page.wurst-version }}"
			data-analytics-wurstversionmc="{{ page.wurst-version }} MC{{ mcversion }}"
		>
			<img src="https://images.wurstclient.net/_media/icon/fabric.png" width="52" height="56" alt="Fabric icon" class="icon">
			Fabric API
			{% if mirror == "GitHub" -%}
				<small>v{{ apiversion }}</small>
			{%- else -%}
				<small>for Minecraft {{ mcversion }}</small>
			{%- endif -%}
		</a>
	{%- endif -%}
</p>

<p>Additional files:</p>
<ul class="spaced-list">
	<li>
		{%- capture srclink -%}{{ mcxbase }}{{ basepath }}-sources.jar{%- endcapture -%}
		{%- assign srcfile = srclink | split: '/' | last -%}
		<a href="javascript:void(0)"
			onclick="window.open('{{ srclink }}', '_blank')"
			data-analytics="Download Wurst"
			data-analytics-version="{{ page.wurst-version }}"
			data-analytics-mcversion="{{ mcversion }}"
			data-analytics-mcversiontype="{{ mcversion-type }}"
			data-analytics-modloader="Fabric"
			data-analytics-type="sources"
			data-analytics-mirror="GitHub"
			data-analytics-file="{{ srcfile }}"
		>
			{{ srcfile }}
		</a>
	</li>
	<li>
		{%- capture devlink -%}{{ mcxbase }}{{ basepath }}-dev.jar{%- endcapture -%}
		{%- assign devfile = devlink | split: '/' | last -%}
		<a href="javascript:void(0)"
			onclick="window.open('{{ devlink }}', '_blank')"
			data-analytics="Download Wurst"
			data-analytics-version="{{ page.wurst-version }}"
			data-analytics-mcversion="{{ mcversion }}"
			data-analytics-mcversiontype="{{ mcversion-type }}"
			data-analytics-modloader="Fabric"
			data-analytics-type="dev"
			data-analytics-mirror="GitHub"
			data-analytics-file="{{ devfile }}"
		>
			{{ devfile }}
		</a>
	</li>
	<li>
		{%- capture srcdevlink -%}{{ mcxbase }}{{ basepath }}-sources-dev.jar{%- endcapture -%}
		{%- assign srcdevfile = srcdevlink | split: '/' | last -%}
		<a href="javascript:void(0)"
			onclick="window.open('{{ srcdevlink }}', '_blank')"
			data-analytics="Download Wurst"
			data-analytics-version="{{ page.wurst-version }}"
			data-analytics-mcversion="{{ mcversion }}"
			data-analytics-mcversiontype="{{ mcversion-type }}"
			data-analytics-modloader="Fabric"
			data-analytics-type="sources-dev"
			data-analytics-mirror="GitHub"
			data-analytics-file="{{ srcdevfile }}"
		>
			{{ srcdevfile }}
		</a>
	</li>
</ul>
