{%- capture full_version -%}v{{ page.wurst-version }} MC{{ mcversion }}{%- endcapture -%}
{%- capture basepath -%}v{{ page.wurst-version }}/Wurst-Client-v{{ page.wurst-version }}-MC{{ mcversion | replace: " ", "-" }}{%- endcapture -%}

{{/*  find the latest version of Wurst for the given Minecraft version  */}}
{%- assign latest = null -%}
{%- for update in site.updates reversed -%}
	{%- if update.minecraft-versions contains mcversion or update.snapshots contains mcversion -%}
		{%- unless update.wurst-version contains "pre" -%}
			{%- assign latest = update -%}
			{%- break -%}
		{%- endunless -%}
	{%- endif -%}
{%- endfor -%}

{{/*  determine if current page is an outdated version  */}}
{%- assign isOutdated = false -%}
{%- if latest and page != latest -%}
	{%- assign isOutdated = true -%}
{%- endif -%}

{{/*  if there is a newer version of Wurst for the given Minecraft version, display a warning  */}}
{%- if isOutdated -%}
<div class="bg-amber padding5">
	<div class="bg-white padding10">
		<p class="no-margin-top no-margin-bottom">
			<b>IMPORTANT:</b> You are currently viewing Wurst {{ page.wurst-version }}, which is an older version for Minecraft {{ mcversion }}. For optimal performance and the latest features, we recommend downloading
			<b><a href="{{ latest.url }}?mc={{ mcversion }}"
				data-analytics="Old Version Warning: Link Click"
				data-analytics-oldversion="{{ page.wurst-version }}"
				data-analytics-newversion="{{ latest.wurst-version }}"
				data-analytics-mcversion="{{ mcversion }}"
				data-analytics-mcversiontype="{{ mcversion_type }}"
			>
				Wurst {{ latest.wurst-version }} MC{{ mcversion }}
			</a></b>
			instead.
		</p>
	</div>
</div>
{%- endif -%}

<p>
	{%- capture mainText -%}Wurst Client {{ full_version }}{%- endcapture -%}
	{%- capture mainLink -%}{{ mcxbase }}{{ basepath }}.jar{%- endcapture -%}
	{%- assign mainFile = mainLink | split: '/' | last -%}
	<a class="command-button download"
		href="javascript:void(0)"
		data-href="{{ mainLink }}"
		data-analytics="Download Wurst"
		data-analytics-version="{{ page.wurst-version }}"
		data-analytics-mcversion="{{ mcversion }}"
		data-analytics-mcversiontype="{{ mcversion_type }}"
		data-analytics-modloader="Fabric"
		data-analytics-type="main"
		data-analytics-mirror="GitHub"
		data-analytics-file="{{ mainFile }}"
		data-analytics-outdated="{{ isOutdated }}"
	>
		<span class="icon mif-file-download"></span>
		{{ mainText }}
		<small>File: {{ mainFile }}</small>
	</a>

	{%- if page.fabric-api -%}
		{%- assign apiversion = page.fabric-api[mcversion] -%}
		{%- assign apiversion_short = apiversion | split: '+' | first -%}
		{%- capture apilink -%}https://github.com/FabricMC/fabric-api/releases/download/{{ apiversion }}/fabric-api-{{ apiversion }}.jar{%- endcapture -%}
		{%- assign mirror = "GitHub" -%}
		{%- assign apifile = apilink | split: '/' | last -%}
		<a class="command-button"
			href="javascript:void(0)"
			data-href="{{ apilink }}"
			data-analytics="Download Fabric API"
			data-analytics-mirror="{{ mirror }}"
			{% if mirror == "GitHub" -%}
				data-analytics-version="{{ apiversion_short }}"
				data-analytics-file="{{ apifile }}"
			{%- else -%}
				data-analytics-url="{{ apilink }}"
			{%- endif %}
			data-analytics-mcversion="{{ mcversion }}"
			data-analytics-mcversiontype="{{ mcversion_type }}"
			data-analytics-wurstversion="{{ page.wurst-version }}"
			data-analytics-wurstversionmc="{{ page.wurst-version }} MC{{ mcversion }}"
			data-analytics-outdated="{{ isOutdated }}"
		>
			<img src="https://images.wurstclient.net/_media/icon/fabric.png" width="52" height="56" alt="Fabric icon" class="icon">
			Fabric API
			{% if mirror == "GitHub" -%}
				<small>v{{ apiversion }}</small>
			{%- else -%}
				<small>for Minecraft {{ mcversion }}</small>
			{%- endif -%}
		</a>
	{%- endif -%}
</p>

<p>Additional files:</p>
<ul class="spaced-list">
	<li>
		{%- capture srclink -%}{{ mcxbase }}{{ basepath }}-sources.jar{%- endcapture -%}
		{%- assign srcfile = srclink | split: '/' | last -%}
		<a href="javascript:void(0)"
			data-href="{{ srclink }}"
			data-warning="This link downloads Wurst's source code, not the mod itself.&#10;&#10;If you want to install Wurst, click the big download button above instead. Putting this -sources.jar file into your mods folder will crash the game.&#10;&#10;Download the source code anyway?"
			data-analytics="Download Wurst"
			data-analytics-version="{{ page.wurst-version }}"
			data-analytics-mcversion="{{ mcversion }}"
			data-analytics-mcversiontype="{{ mcversion_type }}"
			data-analytics-modloader="Fabric"
			data-analytics-type="sources"
			data-analytics-mirror="GitHub"
			data-analytics-file="{{ srcfile }}"
			data-analytics-outdated="{{ isOutdated }}"
		>
			{{ srcfile }}
		</a>
	</li>
</ul>
