{%- assign wiki = site.data.wikilinks -%}

{%- if include.hacks -%}
<details>
	<summary>Hacks, Cheats, and Mods: (click to expand)</summary>
	<ul>
	{%- for hack in include.hacks -%}
		<li>
		{%- if wiki.hacks[hack] -%}
			<a href="{{ wiki.hacks[hack] }}">{{ hack }}</a>
		{%- else -%}
			{{ hack }}
		{%- endif -%}
		</li>
	{%- endfor -%}
	</ul>
</details>
{%- endif -%}

{%- if include.commands -%}
<details>
	<summary>Chat Commands: (click to expand)</summary>
	<ul>
	{%- for cmd in include.commands -%}
		<li>
		{%- if wiki.commands[cmd] -%}
			<a href="{{ wiki.commands[cmd] }}"><code>{{ cmd }}</code></a>
		{%- else -%}
			<code>{{ cmd }}</code>
		{%- endif -%}
		</li>
	{%- endfor -%}
	</ul>
</details>
{%- endif -%}

{%- if include.other -%}
<details>
	<summary>Other Features: (click to expand)</summary>
	<ul>
	{%- for other in include.other -%}
		<li>
		{%- if wiki.other[other] -%}
			<a href="{{ wiki.other[other] }}">{{ other }}</a>
		{%- else -%}
			{{ other }}
		{%- endif -%}
		</li>
	{%- endfor -%}
	</ul>
</details>
{%- endif -%}

{%- if page.log4shell-patched -%}
<details>
	<summary>Safety: (click to expand)</summary>
	<p>&check; This version is safe from the <a href="https://wurst.wiki/log4shell">Log4Shell</a> exploit.</p>
</details>
{%- endif -%}
