<script defer>
	// called when user clicks on a feedback button
	function clickFeedbackBtn(btn, feedback, text, index)
	{
		// disable button to prevent double-clicking
		if(btn.disabled)
			return;
		btn.disabled = true;
		
		// create event name and properties
		const eventName = "Changelog Entry: " + feedback;
		const props = {
			version: "{{ page.wurst-version }}",
			entry_index: index,
			entry_text: text
		};

		// send feedback to server
		plausible(eventName, {props: props});
        if (/^localhost$|^127(\.[0-9]+){0,2}\.[0-9]+$|^\[::1?\]$/.test(window.location.hostname) || "file:" === window.location.protocol)
            console.log(eventName, {props: props});

		// change button to checkmark
		btn.textContent = "";
		btn.classList.add("mif-checkmark");
		btn.title = "Thanks for your feedback!";

		// remove other buttons
		for(let sibling of Array.from(btn.parentElement.children))
			if(sibling !== btn)
				sibling.remove();
	}
	
	// find first ul below h2 with id changelog
	let changelog = document.querySelector("h2#changelog + ul");

	// add feedback buttons next to each changelog entry
	for(let li of changelog.querySelectorAll("li"))
	{
		// get text and index of changelog entry
		let text = li.textContent.trim();
		let index = Array.from(li.parentElement.children).indexOf(li);

		// create like button
		let likeBtn = document.createElement("button");
		likeBtn.title = "I like this change";
		likeBtn.textContent = "👍";
		likeBtn.onclick = function(){clickFeedbackBtn(likeBtn, "Like", text, index)};

		// create dislike button
		let dislikeBtn = document.createElement("button");
		dislikeBtn.title = "I dislike this change";
		dislikeBtn.textContent = "👎";
		dislikeBtn.onclick = function(){clickFeedbackBtn(dislikeBtn, "Dislike", text, index)};
		
		// create container for buttons
		let buttons = document.createElement("span");
		buttons.classList.add("feedback-buttons");
		buttons.appendChild(likeBtn);
		buttons.appendChild(dislikeBtn);
		
		// add buttons to changelog entry
		let p = li.querySelector("p");
		(p || li).appendChild(buttons);
	}
</script>

<style>
	.feedback-buttons {
		display: inline-block;
	}
	.feedback-buttons button {
		margin-left: .5em;
        color: #999999;
        background-color: #ffffff;
        border: 0;
        padding: 0;
	}

	/* hide feedback buttons until li is hovered */
	li:hover .feedback-buttons {
		visibility: visible;
	}
	li .feedback-buttons {
		visibility: hidden;
	}
</style>