<p>Wurst has more than just one GUI. You can choose whichever one you like best.</p>

<details>
  <summary>ClickGUI: (click to expand)</summary>
  <p><b><a href="https://wurst.wiki/clickgui">ClickGUI</a></b> opens with the <kbd>Right&nbsp;CTRL</kbd> key. When opened, it displays a window for each category, which then contains a list of every feature in that category.</p>
  <p>
    <img src="https://images.wurstclient.net/_media/hack/clickgui/clickgui.webp" alt="screenshot of ClickGUI" width="960" height="540" loading="lazy">
    <img src="https://images.wurstclient.net/_media/hack/clickgui/clickgui_keybind.webp" alt="visualization of Wurst's ClickGUI keybind (Right CTRL key)" width="960" height="288" loading="lazy">
  </p>
</details>

<details>
  <summary>Navigator: (click to expand)</summary>
  <p><b><a href="https://wurst.wiki/navigator">Navigator</a></b> opens with the <kbd>Right&nbsp;Shift</kbd> key. When opened, it displays a searchable list of every feature in Wurst.</p>
  <p>
    <img src="https://images.wurstclient.net/_media/navigator.webp" alt="screenshot of Navigator" width="960" height="540" loading="lazy">
    <img src="https://images.wurstclient.net/_media/navigator_keybind.webp" alt="visualization of Wurst's Navigator keybind (Right Shift key)" width="960" height="288" loading="lazy">
  </p>
</details>

<details>
  <summary>TabGUI: (click to expand)</summary>
  <p><b><a href="https://wurst.wiki/tabgui">TabGUI</a></b> does not have a default keybind. You can enable it by opening the Navigator GUI and searching for "TabGUI" (don't worry, you only need to do this once).</p>
  <p>Once enabled, you can use TabGUI with the <kbd>Arrow&nbsp;Keys</kbd> to change the selection and <kbd>Enter</kbd> to toggle the selected feature.</p>
  <p>
    <img src="https://images.wurstclient.net/_media/tabgui.webp" alt="screenshot of TabGUI" width="500" height="340" loading="lazy">
    <img src="https://images.wurstclient.net/_media/tabgui_controls.webp" alt="visualization of Wurst's TabGUI controls (Arrow Keys + Enter)" width="960" height="288" loading="lazy">
  </p>
</details>