{%- assign update_images_folder = "https://images.wurstclient.net/_media/update/" -%}
{%- assign placeholder = "https://images.wurstclient.net/_media/placeholder-320x180.webp" -%}

<div class="padding10 bg-grayDarker">
{%- if page.image contains update_images_folder -%}
	{%- assign full_size_image = page.image | replace: '_540p.webp', '.jpg' -%}
	{%- assign filename = full_size_image | replace: update_images_folder, '' -%}
	<a href="{{ full_size_image }}" target="_blank" title="File: {{ filename }}">
		<img src="{{ page.image }}" alt="{{ page.title }}" width="960" height="540">
	</a>
{%- elsif page.image -%}
	<img src="{{ page.image }}" alt="{{ page.title }}" width="960" height="540">
{%- else -%}
	<div class="missing-image set-border">
		<img src="{{ placeholder }}" loading="lazy" class="no-visible" alt="placeholder for {{ page.title }} (missing image)" width="960" height="540">
		<span class="mif-file-picture fg-grayLight"></span>
	</div>
{%- endif -%}
</div>
