<div class="padding10 no-padding-left no-padding-right">

	<h3>Wurst as a Torrent</h3>

	<p>
		This torrent contains all above versions bundled together
		{%- if page.fabric %} (without the Fabric API){% endif %}.
		Open it in your torrent client to select which version(s) you want to download.
	</p>

	<p>
		<b>WARNING:</b>
		Torrenting reveals your IP address to the public. Server owners *could* monitor this torrent and automatically
		ban IP addresses that have downloaded files from it. Consider torrenting over a VPN or some kind of proxy.
		(This problem only affects torrents. The "normal" downloads listed above are safe to download without a VPN.)
	</p>

	<a href="{{ page.torrent }}" rel="nofollow" target="_blank"
		data-analytics='"Torrent Wurst", {"props": {"version": "{{ page.wurst-version }}"}}'
		class="tile inline-block no-float bg-grayDark command-button primary no-border"
		style="width: auto;height: auto;">
		<span class="icon mif-folder-download"></span>
		Wurst Client v{{ page.wurst-version }}
		<small>for all Minecraft versions listed above</small>
	</a>

	<p>If you would like to help by seeding these torrents, a full list is available <a href="/seedme.txt">here</a>.</p>

</div>