<table class="table border bordered">
	<thead>
		<tr>
			<th>Wurst Version</th>
			<th>Correct Minecraft Version for Installation</th>
			<th>Incorrect Minecraft Versions<br>(DO NOT SELECT)</th>
		</tr>
	</thead>
	<tr>
		<td>Wurst for Minecraft 1.12&nbsp;-&nbsp;1.12.2</td>
		<td>1.12</td>
		<td>1.12.1, 1.12.2</td>
	</tr>
	<tr>
		<td>Wurst for Minecraft 1.11&nbsp;-&nbsp;1.11.2</td>
		<td>1.11</td>
		<td>1.11.1, 1.11.2</td>
	</tr>
	<tr>
		<td>Wurst for Minecraft 1.10&nbsp;-&nbsp;1.10.2</td>
		<td>1.10</td>
		<td>1.10.1, 1.10.2</td>
	</tr>
	<tr>
		<td>Wurst for Minecraft 1.9&nbsp;-&nbsp;1.9.4</td>
		<td>1.9</td>
		<td>1.9.1, 1.9.2, 1.9.3, 1.9.4</td>
	</tr>
	<tr>
		<td>Wurst for Minecraft 1.8&nbsp;-&nbsp;1.8.9</td>
		<td>1.8</td>
		<td>1.8.1, 1.8.2, 1.8.3, 1.8.4, 1.8.5, 1.8.6, 1.8.7, 1.8.8, 1.8.9</td>
	</tr>
	<tr>
		<td>Wurst for Minecraft 1.7.2&nbsp;-&nbsp;1.7.10</td>
		<td>1.7.2</td>
		<td>1.7.3, 1.7.4, 1.7.5, 1.7.6, 1.7.7, 1.7.8, 1.7.9, 1.7.10</td>
	</tr>
</table>
