---
title: Wurst wallpapers
layout: download
---
<div class="container">
  <h1 class="page-header"><span class="mega-octicon octicon-device-desktop"></span> {{ page.title }}</h1>
  <div class="row">
    {% for template in site.data.downloads.fans.wallpapers %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail">
        <div class="embed-responsive embed-responsive-16by9">
          <img src="{{ template.image }}" class="embed-responsive-item img-rounded">
        </div>
        <div class="caption">
          <h2 class="list-group-item-heading">{{ template.title }}</h2>
          <div class="btn-group-vertical btn-block">
            {% for variation in template.downloads %}
            <a id="{{ template.id }}-{{ variation.size }}" class="btn btn-default" href="{{ variation.link }}">
              <span class="octicon octicon-device-desktop"></span>
              {{ variation.size }}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <script>
    	$(document).ready(function(){
        {% for variation in template.downloads %}
    		$("#{{ template.id }}-{{ variation.size }}").click(function(){
    			ga('send', 'event', 'download-button', 'click', '{{ template.id }}-{{ variation.size }}');
    		});
        {% endfor %}
    </script>
    {% endfor %}
  </div>
</div>
