---
layout: default
cleanmedia_ads: true
---
{% include title.html l1 = page.title l2 = page.description %}

<div class="padding20 no-padding-left no-padding-right">
	<div class="container post-content">

		<!-- Wurst Downloads -->
		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="6065673627" data-ad-format="auto"></ins>
		</div>

	  <div class="grid">

      {% assign i = 0 %}
	    {% for update in site.updates reversed %}

				{% if page.mcversion == "all" %}

				{% elsif page.mcversion == "snapshots" %}

					{% assign snapshot = false %}
					{% for mcversion2 in update.minecraft-versions %}
						{% if mcversion2 contains "w" or mcversion2 contains "pre" %}
							{% assign snapshot = true %}
						{% endif %}
					{% endfor %}

					{% unless snapshot %}
						{% if forloop.last %}</div>{% endif %}
						{% continue %}
					{% endunless %}

				{% else %}

					{% unless update.minecraft-versions contains page.mcversion %}
						{% if forloop.last %}</div>{% endif %}
						{% continue %}
					{% endunless %}

				{% endif %}

	      {% assign modulo = i | modulo: 4 %}

	      {% if modulo == 0 %}<div class="row cells4">{% endif %}
					<div class="cell">
						<a href="{{ update.url }}">
							<div class="image-container">
								<div class="frame{% unless update.image %} bg-grayLighter set-border tile-content iconic{% endunless %}">
									<img src="{% if update.image %}{{ update.image }}{% else %}https://cloud.githubusercontent.com/assets/10100202/19655746/6eea9706-9a1d-11e6-8fbc-0a8d25f7a2fd.jpg{% endif %}"{% unless update.image %} class="no-visible"{% endunless %} alt="Wurst v{{ update.wurst-version }} MC{{ update.minecraft-version }}">
									{% unless update.image %}
										<span class="icon mif-file-picture fg-grayLight" style="margin-top: -32px;"></span>
									{% endunless %}
								</div>
								<div class="image-overlay" style="background-color: rgba(0, 0, 0, .8);">
									<div class="leader text-shadow" style="width: 100%;height: 100%;display: table;">
										<span class="mif-link fg-white" style="display: table-cell;vertical-align: middle;"></span>
									</div>
								</div>
							</div>
						</a>
						<h2 class="sub-header">
							<a href="{{ update.url }}">{{ update.title }}</a>
						</h2>
					</div>
	      {% if modulo == 3 or forloop.last %}</div>{% endif %}

        {% assign i = i | plus: 1 %}
	    {% endfor %}
	  </div>

	</div>
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
	var npa = getCookie("npa");
	if(npa === "1"){
		(adsbygoogle=window.adsbygoogle||[]).requestNonPersonalizedAds=1
	}else if(npa === "0"){
		(adsbygoogle=window.adsbygoogle||[]).requestNonPersonalizedAds=0
	}

	(adsbygoogle = window.adsbygoogle || []).push({});
</script>
