---
layout: default
google_auto_ads: true
---
{%- include title.html l1 = page.title l2 = page.description -%}
<style>
	.wurst-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
	}

	.wurst-grid ins.adsbygoogle {
		min-height: 300px;
	}

	@media screen and (min-width: 801px) {
		.wurst-grid {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	@media screen and (max-width: 800px) {
		.wurst-grid {
			grid-template-columns: 1fr;
		}
	}
</style>
<div class="padding20 no-padding-left no-padding-right">
	<main class="container">
		<div class="wurst-grid">
			
			{%- assign i = 0 -%}
			{%- for update in site.updates reversed -%}

				{%- if page.mcversion == "all" -%}

				{%- elsif page.mcversion == "snapshots" -%}

					{%- assign snapshot = false -%}
					{%- for mcversion2 in update.minecraft-versions -%}
						{%- if mcversion2 contains "w" or mcversion2 contains "pre" -%}
							{%- assign snapshot = true -%}
						{%- endif -%}
					{%- endfor -%}

					{%- unless snapshot -%}
						{%- continue -%}
					{%- endunless -%}

				{%- else -%}

					{%- unless update.minecraft-versions contains page.mcversion -%}
						{%- continue -%}
					{%- endunless -%}

				{%- endif -%}

				{%- assign modulo = i | modulo: 13 -%}
				{%- if modulo == 0 -%}
				<div>
					<ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-6l+d4-6+3m+4o" data-ad-client="ca-pub-5218363098774955" data-ad-slot="3234682827"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
				</div>
				{%- endif -%}

				<article>
					<a href="{{ update.url }}">
						<span class="image-container">
							<span class="frame{% unless update.image %} bg-grayLighter set-border tile-content iconic{% endunless %}">
								<img src="https://images.wurstclient.net/_media/placeholder-320x180.webp" data-src="{% if update.image %}{{ update.image }}{% else %}https://images.wurstclient.net/_media/placeholder-320x180.webp{% endif %}" class="lazyload{% unless update.image %} no-visible{% endunless %}" alt="Wurst v{{ update.wurst-version }} MC{{ update.minecraft-version }}" width="640" height="360" style="height: auto;">
								{%- unless update.image -%}
									<span class="icon mif-file-picture fg-grayLight" style="margin-top: -32px;"></span>
								{%- endunless -%}
							</span>
							<span class="image-overlay" style="background-color: rgba(0, 0, 0, .8);">
								<span class="leader text-shadow" style="width: 100%;height: 100%;display: table;">
									<span class="mif-link fg-white" style="display: table-cell;vertical-align: middle;"></span>
								</span>
							</span>
						</span>
					</a>
					<h2 class="sub-header">
						<a href="{{ update.url }}">{{ update.title }}</a>
					</h2>
				</article>

				{%- assign i = i | plus: 1 -%}
			{%- endfor -%}
		</div>
	</main>
</div>

<script src="/js/lazysizes.min.js" async></script>
