---
layout: default
google_auto_ads: true
cleanmedia_ads: true
---
{% include title.html l1 = page.title l2 = page.description %}

<div class="padding20 no-padding-left no-padding-right">
	<div class="container">
		<div class="grid">
			
			<!-- Wurst Downloads -->
			<div class="margin20 no-margin-left no-margin-right no-margin-top">
				<div class="container">
					<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="6065673627" data-ad-format="auto"></ins>
				</div>
			</div>

			{% assign i = 0 %}
			{% for update in site.updates reversed %}

				{% if page.mcversion == "all" %}

				{% elsif page.mcversion == "snapshots" %}

					{% assign snapshot = false %}
					{% for mcversion2 in update.minecraft-versions %}
						{% if mcversion2 contains "w" or mcversion2 contains "pre" %}
							{% assign snapshot = true %}
						{% endif %}
					{% endfor %}

					{% unless snapshot %}
						{% if forloop.last %}</div>{% endif %}
						{% continue %}
					{% endunless %}

				{% else %}

					{% unless update.minecraft-versions contains page.mcversion %}
						{% if forloop.last %}</div>{% endif %}
						{% continue %}
					{% endunless %}

				{% endif %}

				{% assign modulo = i | modulo: 3 %}

				{% if modulo == 0 %}<div class="row cells3">{% endif %}
					<div class="cell">
						<a href="{{ update.url }}">
							<span class="image-container">
								<span class="frame{% unless update.image %} bg-grayLighter set-border tile-content iconic{% endunless %}">
									<img src="{% if update.image %}{{ update.image }}{% else %}https://cloud.githubusercontent.com/assets/10100202/19655746/6eea9706-9a1d-11e6-8fbc-0a8d25f7a2fd.jpg{% endif %}" class="lazyload{% unless update.image %} no-visible{% endunless %}" alt="Wurst v{{ update.wurst-version }} MC{{ update.minecraft-version }}" width="640" height="360" style="height: auto;">
									{% unless update.image %}
										<span class="icon mif-file-picture fg-grayLight" style="margin-top: -32px;"></span>
									{% endunless %}
								</span>
								<span class="image-overlay" style="background-color: rgba(0, 0, 0, .8);">
									<span class="leader text-shadow" style="width: 100%;height: 100%;display: table;">
										<span class="mif-link fg-white" style="display: table-cell;vertical-align: middle;"></span>
									</span>
								</span>
							</span>
						</a>
						<h2 class="sub-header">
							<a href="{{ update.url }}">{{ update.title }}</a>
						</h2>
					</div>
				{% if modulo == 2 or forloop.last %}</div>{% endif %}

				{% assign i = i | plus: 1 %}
			{% endfor %}
		</div>
	</div>
</div>

<script src="/js/lazysizes.min.js" async></script>

<!-- Google AdSense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>