---
layout: default
---
<div class="container">
	{% include post-header.html post = page %}
</div>
<hr>
<div class="container">
	<div class="grid">
		<div class="row cells4">
			<div class="cell colspan3">
				<!-- Wurst News top -->
				<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="5352619220" data-ad-format="auto"></ins>
				<br>
				<div class="post-content">
					{% if page.video-id %}
						{% include video.html id = page.video-id %}
					{% elsif page.images.size > 0 %}
						{% for image in page.images limit: 1 %}
							<div class="image-container bordered">
								<div class="frame">
									<img src="{{ image.link }}" alt="{{ page.title }}">
								</div>
							</div>
						{% endfor %}
					{% endif %}
					{{ content }}
					<footer class="margin20 no-margin-left no-margin-right">
						<div class="tile-container bg-grayLighter padding10">
							{% if post.category == "Wurst-update" %}
								<div class="tile-group double no-margin-left">
									<span class="tile-group-title fg-black">Download</span>
							    <a class="tile tile-wide-x tile-small-y command-button primary no-border" href="https://github.com/Wurst-Imperium/Wurst-Client/releases/download/{{ page.Wurst-version }}/Wurst-Client-{{ page.Wurst-version }}.zip">
							      <span class="icon mif-cloud-download"></span>
							      Download
										<small>Wurst Client {{ post.Wurst-version }}</small>
							    </a>
								</div>
							{% endif %}
							<div class="tile-group double no-margin-left">
								<span class="tile-group-title fg-black">Share</span>
								<a href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url=https%3A//www.wurst-client.tk{{ page.url | remove: "index.html" | uri_escape }}&via=Wurst_Imperium" target="_blank">
									<div class="tile-small bg-cyan fg-white">
										<div class="tile-content iconic">
											<span class="icon mif-twitter"></span>
										</div>
									</div>
								</a>
								<a href="https://plus.google.com/share?url=https%3A//www.wurst-client.tk{{ page.url | remove: "index.html" | uri_escape }}" target="_blank">
									<div class="tile-small bg-red fg-white">
										<div class="tile-content iconic">
											<span class="icon mif-google"></span>
										</div>
									</div>
								</a>
								<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.wurst-client.tk{{ page.url | remove: "index.html" | uri_escape }}" target="_blank">
									<div class="tile-small bg-darkBlue fg-white">
										<div class="tile-content iconic">
											<span class="icon mif-facebook"></span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</footer>
					<div id="disqus_thread"></div>
					<noscript>
						Please enable JavaScript to view the
						<a href="https://disqus.com/?ref_noscript" rel="nofollow">
							comments section.
						</a>
					</noscript>
				</div>
			</div>
			<div class="cell">
				{% include sidebar.html %}
			</div>
		</div>
	</div>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="text/javascript">
    var disqus_shortname = 'wurst-client';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
