---
layout: default
---
<div class="page-header">
	<div class="container">
		{% include post-header.html post = page %}
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-9">
			<!-- Wurst News top -->
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="5352619220" data-ad-format="auto"></ins>
			<br>
			{% for image in page.images limit: 1 %}
				{% if page.video-id %}
					<a href="https://www.youtube.com/watch?v={{ page.video-id }}" target="_blank">
				{% endif %}
				<div class="thumbnail{% if page.video-id %} thumbnail-video{% endif %}">
					<img class="img-rounded" src="{{ image.link }}">
					{% if page.video-id %}
						<div class="btn btn-video">
							<span class="glyphicon glyphicon-play"></span>
						</div>
					{% endif %}
				</div>
			{% if page.video-id %}
			</a>
			<a href="https://www.youtube.com/watch?v={{ page.video-id }}" target="_blank">
				<span class="glyphicon glyphicon-film"></span>
				Click here to watch the video on YouTube
			</a>
			{% endif %}
			{% endfor %}
			<div class="post-content">
				{{ content }}
			</div>
			<div class="row">
				{% for image in page.images offset: 1 %}
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="thumbnail">
						<img class="img-rounded" src="{{ image.link }}">
						{% if image.text %}
						<div class="caption">
								{{ image.text }}
						</div>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
			<br>
			{% include post-footer.html post = page %}
			<br>
			<div id="disqus_thread"></div>
			<noscript>
				Please enable JavaScript to view the
				<a href="https://disqus.com/?ref_noscript" rel="nofollow">
					comments section.
				</a>
			</noscript>
		</div>
		<div class="col-sm-3 hidden-xs">
			{% include sidebar.html %}
		</div>
	</div>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="text/javascript">
    var disqus_shortname = 'wurst-client';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<script src="//load.sumome.com/" data-sumo-site-id="afb9b2ec1a409937f7d82c7d9608e5b3eb9fff83e198fe4dc0222db718ac3f83" async="async"></script>
