---
layout: default
---
{%- assign date = page.date | date: "%Y-%m-%d" -%}
{%- capture l2 -%}
released {{ date | date: "%B %-d, %Y" }}
{%- if page.modified_date and page.modified_date != date -%}
	; updated {{ page.modified_date | date: "%B %-d, %Y" }}
{%- endif -%}
{%- endcapture -%}
{%- include title.html l1 = page.title l2 = l2 -%}

{{- content -}}

<script>
// Track opening included features
document.querySelectorAll("details.included-features").forEach((details) => {
	details.addEventListener("toggle", (event) => {
		if(event.target.hasAttribute("open"))
		{
			const summaryElement = event.target.querySelector("summary");
			const summaryId = summaryElement.getAttribute("id");

			plausible("Included Features: Open", {
				props: {
					id: summaryId
				}
			});
		}
	});
});
</script>

{%- include update/schema.html -%}
