---
layout: default
---
{% assign date = page.date | date: "%Y-%m-%d" %}
{% include title.html l1 = page.title l2 = date %}

<div class="padding20 no-padding-left no-padding-right">
	<div class="container post-content">

		<!-- Wurst News -->
		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="5352619220" data-ad-format="auto"></ins>
		</div>

		<div class="margin20 no-margin-left no-margin-right no-margin-top padding10 bg-grayDarker">
			{% if page.image %}
				<div class="image-container">
					<div class="frame">
						<img src="{{ page.image }}" alt="{{ page.title }}">
					</div>
				</div>
			{% else %}
				<div class="image-container full-size">
					<div class="frame bg-grayLighter set-border tile-content iconic">
						<img src="https://cloud.githubusercontent.com/assets/10100202/19655746/6eea9706-9a1d-11e6-8fbc-0a8d25f7a2fd.jpg" class="no-visible" alt="{{ page.title }}">
						<span class="icon mif-file-picture fg-grayLight" style="margin-top: -32px;"></span>
					</div>
				</div>
			{% endif %}
		</div>

		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			{% include share-buttons.html %}
		</div>

		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			{{ content }}
		</div>

		<!-- Wurst News -->
		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="5352619220" data-ad-format="auto"></ins>
		</div>

	</div>
</div>

{% if page.wurst-version and page.minecraft-versions %}
	<div class="bg-grayLighter padding40 no-padding-left no-padding-right">
		<div class="container post-content">

			<h2>Downloads</h2>
			{% if page.old-downloads or page.old-mcx %}

				<p>
					Downloads for this version are no longer available.
				</p>

			{% else %}

				{% for mcversion in page.minecraft-versions %}
					<a class="tile inline-block no-float bg-grayDark command-button primary no-border" href="https://github.com/Wurst-Imperium/Wurst-MCX2/releases/download/v{{ page.wurst-version }}/Wurst-Client-v{{ page.wurst-version }}-MC{{ mcversion | replace: " ", "-" }}.jar" rel="nofollow" target="_blank" style="width: auto;height: auto;">
						<span class="icon mif-file-download"></span>
						Wurst Client v{{ page.wurst-version }} MC{{ mcversion }}
						<small>for Minecraft {{ site.mcversions[mcversion] }}</small>
					</a>
				{% endfor %}

			{% endif %}

		</div>
	</div>
{% endif %}

<div class="padding20 no-padding-left no-padding-right">
	<div class="container post-content">

		<h2>Related Tutorials</h2>
		<ul>
			<li><p><a href="/tutorials/how-to-install/">How to install Wurst</a></p></li>
			<li><p><a href="/tutorials/how-to-update/">How to (manually) update Wurst</a></p></li>
		</ul>

	</div>
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>
