---
layout: default
google_auto_ads: true
---
{%- assign date = page.date | date: "%Y-%m-%d" -%}
{%- capture l2 -%}
released {{ date | date: "%B %-d, %Y" }}
{%- if page.modified_date and page.modified_date != date -%}
	; updated {{ page.modified_date | date: "%B %-d, %Y" }}
{%- endif -%}
{%- endcapture -%}
{%- include title.html l1 = page.title l2 = l2 -%}

<div class="padding20 no-padding-left no-padding-right">
	<div class="container post-content">

		<div class="margin20 no-margin-left no-margin-right no-margin-top padding10 bg-grayDarker">
			{%- include update/image.html -%}
		</div>

		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			{%- include share-buttons.html -%}
		</div>

		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			
			{%- include update/log4shell-warnings.html -%}
			
			{%- if page.auto-list-mcversions -%}
				<p>{%- include update/mcversions.html -%}</p>
			{%- endif -%}
			
			{%- if page.log4shell-patched -%}
				<p>✔ This version is safe from the <a href="https://wurst.wiki/log4shell">Log4Shell</a> exploit.</p>
			{%- endif -%}

			{%- include wtp-survey.html -%}

			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="4767558596" data-ad-format="auto" data-full-width-responsive="true"></ins>

			{{- content -}}

		</div>

	</div>
</div>

{%- if page.wurst-version and page.minecraft-versions -%}
	<div class="bg-grayLighter padding40 no-padding-left no-padding-right">
		<div class="container post-content">

			<h2 id="downloads">Downloads</h2>
			<div class="bg-lightGreen padding5" style="display: none" id="afa-prompt">
				<a href="/ad-free/" class="fg-black" data-analytics="Wurst Update Page: Ad-Free CTA Click">
					<div class="bg-white padding10 align-center">
						<div class="align-left inline-block">
							<p>
								<b>NEW:</b>
								Enjoy the Wurst Client ad-free!
							</p>
							<ul class="unstyled-list">
								<li>&check; No banner ads</li>
								<li>&check; No pop-ups</li>
								<li>&check; No recurring fees</li>
							</ul>
						</div>
					</div>
				</a>
			</div>
			{%- include update/downloads.html -%}

		</div>
	</div>
{%- endif -%}

<script>
	let afa = localStorage.getItem("WurstAdFreeAccess") === "true";
	let h2downloads = document.querySelector("h2#downloads");
	if(!afa)
		if(Math.random() < 0.5)
		{
			let bottomAd = document.createElement("ins");
			bottomAd.classList.add("adsbygoogle");
			bottomAd.style.display = "block";
			bottomAd.setAttribute("data-ad-client", "ca-pub-5218363098774955");
			bottomAd.setAttribute("data-ad-slot", "2601356415");
			bottomAd.setAttribute("data-ad-format", "auto");
			bottomAd.setAttribute("data-full-width-responsive", "true");
			h2downloads.insertAdjacentElement("afterend", bottomAd);
		}else
		{
			let afaPrompt = document.querySelector("#afa-prompt");
			afaPrompt.style.display = "block";
		}
	let ads = document.querySelectorAll("ins.adsbygoogle");
	if(afa)
		ads.forEach(ad => ad.style.display = "none");
	else
		ads.forEach(ad => (adsbygoogle = window.adsbygoogle || []).push({}));
</script>

{%- unless page.old-downloads or page.old-mcx -%}
<div class="padding20 no-padding-left no-padding-right">
	<div class="container post-content">
		<h2>Installation</h2>
		{%- if page.fabric -%}
			<p>Wurst 7 can be installed just like any other Fabric mod. Here are the basic installation steps:</p>
			<ol>
				<li>Run the Fabric installer.</li>
				<li>Add the Wurst Client and Fabric API to your mods folder.</li>
			</ol>
			<p>Please refer to the <a href="/tutorials/how-to-install/wurst-7">full Wurst 7 installation guide</a> if you need more detailed instructions or run into any problems.</p>
		{%- elsif page.mc-1-7-remake -%}
			<p>Because this is a remake, the installation process is <a href="/tutorials/how-to-install/wurst-6/">the same as Wurst 6</a>. Just make sure that you have Minecraft 1.7.2 (not 1.7.10) installed in order for the Wurst installer to work.</p>
		{%- else -%}
			<p>Basically just run the installer. See <a href="/tutorials/how-to-install/wurst-6/">this tutorial</a> for details.</p>
		{%- endif -%}
		<p>Also, this should be obvious, but you do need to have a licensed copy of Minecraft Java Edition in order to use Wurst. Wurst is a cheat client, not a pirate client.</p>
	</div>
</div>
{%- endunless -%}

{%- include update/schema.html -%}
