---
layout: default
google_auto_ads: true
---
{%- assign date = page.date | date: "%Y-%m-%d" -%}
{%- include title.html l1 = page.title l2 = date -%}

<div class="padding20 no-padding-left no-padding-right">
	<div class="container post-content">

		<div class="margin20 no-margin-left no-margin-right no-margin-top padding10 bg-grayDarker">
			{%- include update/image.html -%}
		</div>

		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			{%- include share-buttons.html -%}
		</div>

		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			
			{%- include update/log4shell-warnings.html -%}
			
			{%- if page.auto-list-mcversions -%}
				<p>This version of the Wurst Hacked Client is available for Minecraft {{ page.minecraft-versions | array_to_sentence_string }}.</p>
			{%- endif -%}
			
			{%- if page.log4shell-patched -%}
				<p>✔ This version is safe from the <a href="https://wurst.wiki/log4shell">Log4Shell</a> exploit.</p>
			{%- endif -%}

			<ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-5218363098774955" data-ad-slot="8153296574"></ins>
			<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

			{{- content -}}

		</div>

	</div>
</div>

{%- if page.wurst-version and page.minecraft-versions -%}
	<div class="bg-grayLighter padding40 no-padding-left no-padding-right">
		<div class="container post-content">

			<h2 id="downloads">Downloads</h2>
			{%- include update/downloads.html -%}

		</div>
	</div>
{%- endif -%}

<div class="padding20 no-padding-left no-padding-right">
	<div class="container post-content">

		<h2>Related Tutorials</h2>
		<ul>
			{%- if page.fabric -%}
				<li><p><a href="/tutorials/how-to-install/wurst-7/">How To Install Wurst 7</a></p></li>
				<li><p><a href="/tutorials/wurst-7-baritone/">How To Add Baritone To Wurst 7</a></p></li>
			{%- else -%}
				<li><p><a href="/tutorials/how-to-install/wurst-6/">How to install Wurst 6 for Minecraft 1.8 - 1.12</a></p></li>
				<li><p><a href="/tutorials/how-to-update/">How to manually update Wurst 6 for Minecraft 1.8 - 1.12</a></p></li>
			{%- endif -%}
		</ul>

	</div>
</div>

{%- include update/schema.html -%}
{%- include update/feedback-buttons.html -%}
