---
layout: default
google_adsense: true
---
{% include title.html l1 = page.title %}

<div class="padding20 no-padding-left no-padding-right">
	<div class="container">

		<!-- Wurst Wiki -->
		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			<ins class="adsbygoogle bg-grayLighter" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="3736285228" data-ad-format="auto"></ins>
		</div>

		{% if page.labels != empty %}
			{% capture editLink %}https://github.com/Wurst-Imperium/wurstclient.net/edit/gh-pages/{{ page.path }}{% endcapture %}
			{% for label in page.labels %}
				<div class="shadow padding20 margin20 no-margin-left no-margin-right no-margin-top bg-grayLighter">
					{% case label %}
						{% when "stub" %}
							<span class="mif-enlarge mif-lg fg-gray"></span>
							This article is a stub. You can help us by <a href="{{ editLink }}" target="_blank">expanding it</a>.
						{% when "messy" %}
							<span class="mif-bin mif-lg fg-gray"></span>
							This article is a bit messy. You can help us by <a href="{{ editLink }}" target="_blank">cleaning it up</a>.
						{% when "outdated" %}
							<span class="mif-history mif-lg fg-gray"></span>
							This article is outdated. You can help us by <a href="{{ editLink }}" target="_blank">updating it</a>.
						{% when "missing history" %}
							<span class="mif-library mif-lg fg-gray"></span>
							This article is missing a history section. You can help us by <a href="{{ editLink }}" target="_blank">adding one</a>.
					{% endcase %}
				</div>
			{% endfor %}
		{% endif %}

		<main class="margin20 no-margin-left no-margin-right no-margin-top">
			{{ content }}
		</main>

		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			{% include share-buttons.html %}
		</div>

	</div>
</div>

<script>
	if(localStorage.getItem("WurstAdFreeAccess") === "true")
		document.querySelector("ins.adsbygoogle").parentElement.style.display = "none";
	else
		(adsbygoogle = window.adsbygoogle || []).push({});
</script>
