---
title: Minecraft Wurst Hacked Client Downloads
permalink: /download/
mcversions:
  - "1.10.X"
  - "1.9.X"
  - "1.8.X"
  - "1.7.X"
---
<header class="bg-gray fg-white">
	<div class="container padding40 no-padding-left no-padding-right">
    <h1 class="align-center text-shadow">
      {{ page.title }}
      <br>
      <small class="fg-grayLighter">Wurst Client downloads for all Minecraft versions</small>
    </h1>
	</div>
</header>
<div class="padding20 no-padding-left no-padding-right">
  <div class="container">
    {% for mcversion in page.mcversions %}
      {% assign updates = site.posts | where: "minecraft-version", mcversion %}
      <div class="margin10 no-margin-left no-margin-right padding10 no-padding-top no-padding-bottom bg-grayLighter fg-gray set-border text-light">
        <h2 class="text-light">Wurst for Minecraft {{ mcversion }}</h2>
      </div>
      <div class="grid padding10">
        <div class="row cells4">
          {% for update in updates limit: 3 %}
            <div class="cell">
              <a href="{{ update.url }}">
                <div class="image-container">
                  <div class="frame{% unless update.image or update.video %} bg-grayLighter set-border tile-content iconic{% endunless %}">
                    <img src="{% if update.image %}{{ update.image }}{% elsif update.video %}https://i.ytimg.com/vi/{{ update.video }}/mqdefault.jpg{% else %}https://cloud.githubusercontent.com/assets/10100202/19655746/6eea9706-9a1d-11e6-8fbc-0a8d25f7a2fd.jpg{% endif %}"{% unless update.image or update.video %} class="no-visible"{% endunless %} alt="{{ update.title }}">
                    {% unless update.image or update.video %}
                      <span class="icon mif-file-picture fg-grayLight" style="margin-top: -32px;"></span>
                    {% endunless %}
                  </div>
                  <div class="image-overlay" style="background-color: rgba(0, 0, 0, .8);">
                    <div class="leader text-shadow" style="width: 100%;height: 100%;display: table;">
                      <span class="mif-link fg-white" style="display: table-cell;vertical-align: middle;"></span>
                    </div>
                  </div>
                </div>
              </a>
              <h3 class="sub-header">
                <a href="{{ update.url }}">{{ update.title }}</a>
              </h3>
            </div>
          {% endfor %}
          <div class="cell">
            <a href="minecraft-{{ mcversion | slugify }}/">
              <div class="image-container">
                <div class="frame bg-grayLighter set-border tile-content iconic">
                  <img src="https://cloud.githubusercontent.com/assets/10100202/19655746/6eea9706-9a1d-11e6-8fbc-0a8d25f7a2fd.jpg" alt="(placeholder)" class="no-visible">
                  <span class="icon mif-folder-open fg-grayLight" style="margin-top: -32px;"></span>
                </div>
                <div class="image-overlay" style="background-color: rgba(0, 0, 0, .8);">
                  <div class="leader text-shadow" style="width: 100%;height: 100%;display: table;">
                    <span class="mif-link fg-white" style="display: table-cell;vertical-align: middle;"></span>
                  </div>
                </div>
              </div>
            </a>
            <h3 class="sub-header">
              <a href="minecraft-{{ updates[0].minecraft-version | slugify }}/">All Versions</a>
            </h3>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
