---
title: Wurst Client Download for Minecraft 1.9, 1.8 &amp; 1.7
exacttitle: true
archives:
  19x:
    -
      label: Open Source versions
      link: https://github.com/Wurst-Imperium/Wurst-Client-for-MC-1.9.X/releases
      min-version: v3.0pre1
  18x:
    -
      label: Open Source versions
      link: https://github.com/Wurst-Imperium/Wurst-Client/releases
      min-version: v1.4
    -
      label: Closed Source versions
      link: https://old.wurst-client.tk/download/wurst-client/wurst-client-for-minecraft-1-8/releases
      min-version: v1.3
      max-version: v1.4.1
  17x:
    -
      label: Closed Source versions
      link: https://old.wurst-client.tk/download/wurst-client/wurst-client-for-minecraft-1-7-x/releases
      min-version: v1.0
      max-version: v1.3.1
    -
      label: Public Beta
      link: https://old.wurst-client.tk/download/wurst-client/wurst-client-for-minecraft-1-7-x/public-beta
      min-version: v1.8 Beta
      max-version: v1.10.2 Beta
    -
      label: Closed Beta
      link: https://old.wurst-client.tk/download/wurst-client/wurst-client-for-minecraft-1-7-x/closed-beta
      min-version: v1.0 Beta
      max-version: v1.7.2 Beta
r17x:
  url: https://old.wurst-client.tk/news/wurst131-tooltipupdate
  Wurst-version: v1.3.1
---
<div class="container">
  <h1 class="align-center margin20 no-margin-left no-margin-right">
    Wurst Client Downloads
    <br>
    <small>(Choose A Version)</small>
  </h1>
  <div class="tabcontrol2" data-role="tabcontrol">
    <ul class="tabs">
      <li><a href="#mc19x">Minecraft 1.9.X</a></li>
      <li><a href="#mc18x">Minecraft 1.8.X</a></li>
      <li><a href="#mc17x">Minecraft 1.7.X</a></li>
    </ul>
    <div class="frames">
      <div class="frame" id="mc19x">
        {% assign update-posts = site.posts | where: "category", "Wurst Update" %}
        {% for post in update-posts %}
          {% if post.Wurst-version contains "pre" %}
            {% if post-l19x == null %}
              {% assign post-l19x = post %}
            {% endif %}
          {% else %}
            {% assign post-r19x = post %}
            {% break %}
          {% endif %}
        {% endfor %}

        {% include downloads/section-test2.html post = post-r19x mcversion = "1.9.X" %}
        {% include downloads/section-test2.html post = post-l19x mcversion = "1.9.X" %}
        {% if post-l19x != null %}
          {% include downloads/archives.html archives = page.archives.19x max-version = post-l19x.Wurst-version %}
        {% else %}
          {% include downloads/archives.html archives = page.archives.19x max-version = post-r19x.Wurst-version %}
        {% endif %}
      </div>
      <div class="frame" id="mc18x">
        {% assign update-posts = site.posts | where: "category", "Wurst-update" %}
        {% for post in update-posts %}
          {% if post.Wurst-version contains "pre" %}
            {% if post-l18x == null %}
              {% assign post-l18x = post %}
            {% endif %}
          {% else %}
            {% assign post-r18x = post %}
            {% break %}
          {% endif %}
        {% endfor %}

        {% include downloads/section-test2.html post = post-r18x mcversion = "1.8.X" %}
        {% include downloads/section-test2.html post = post-l18x mcversion = "1.8.X" %}
        {% if post-l18x != null %}
          {% include downloads/archives.html archives = page.archives.18x max-version = post-l18x.Wurst-version %}
        {% else %}
          {% include downloads/archives.html archives = page.archives.18x max-version = post-r18x.Wurst-version %}
        {% endif %}
      </div>
      <div class="frame" id="mc17x">
        {% include downloads/section-test2.html post = page.r17x mcversion = "1.7.X" %}
        {% include downloads/archives.html archives = page.archives.17x max-version = page.r17x.Wurst-version %}
      </div>
    </div>
  </div>
</div>
